@import "@/assets/styles/mixins";

.profile {
  background: white;
  border: 1px solid #F5F5F5;
  padding: 24px;
  width: 806px;

  @include t {
    padding: 20px;
    width: 454px;
  }
  @include m {
    padding: 16px;
    width: 100%;
  }
}

.titleWrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;

  @include t {
    margin-bottom: 14px;
    justify-content: space-between;
  }

  @include m {
    gap: 11px;
    justify-content: flex-start;
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  color: #131D2A;

  @include t {
    font-weight: 500;
    font-size: 18px;
  }
}

.edit {
  display: flex;
  gap: 10px;
  color: #E32636;
  font-size: 14px;
  align-items: center;
}

.editText {
  @include m {
    display: none;
  }
}

.subTitle {
  font-size: 18px;
  color: #131D2A;
  font-weight: 600;
  margin-bottom: 24px;

  @include t {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
  }

}

.control {
  display: flex;
  border: #F0F1F1 1px solid;
  font-weight: 500;
  font-size: 15px;

  @include t {
    font-size: 12px;
  }

  @include m {
    font-size: 11px;
  }
}

.label {
  height: 38px;
  width: 320px;
  padding: 10px;
  border-right: #F0F1F1 1px solid;

  @include t {
    height: 29px;
    width: 165px;
  }

  @include m {
    width: 38%;
  }
}

.input {
  width: 433px;
  border: none;
  outline: none;
  padding: 10px;
  height: 38px;
  resize: none;
  height: 100%;


  @include t {
    height: 29px;
    width: 204px;
    padding: 7px 10px;
  }

  @include m {
    width: 62%;
  }

  &:focus {

  }
}

.textarea {
  height: 38px;
  overflow: hidden;
  width: 433px;
  border: none;
  outline: none;
  padding: 10px;
  resize: none;

  @include t {
    height: 29px;
    width: 204px;
    padding: 7px 10px;
  }

  @include m {
    width: 62%;
  }

  &:focus {

  }

}