@import "@/assets/styles/mixins";

.skeleton {
  padding-block: 12px;
  padding-inline: 4px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.roundBlock {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #EEF0F3;
  flex-shrink: 0;
}

.rightPart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.line {
  background: #EEF0F3;
  height: 12px;
  border-radius: 6px;
}

.firstLine {
  width: 70%;
}

.secondLine {
  width: 100%;
}