@import "@/assets/styles/mixins";

.loginBtn {
  color: #658092;
  font-size: 12px;
  transition: color .3s ease-in-out;
}

.menuItemImgWrapper {
  display: inline-flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.menuItemImgWrapper {
  display: inline-flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.menuItemLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;

  &:hover {
    .menuItemLabel {
      color: #000;

      @include t {
        color: #658092;
      }
    }
  }
}

.popup {
  padding: 20px 16px;
  inset: 0;
  transform: translate(0,0);
  width: 100vw;
  height: calc(var(--vh) * 100);
  background: #F9F9FB;
  position: fixed;
  max-width: 100vw;
  max-height: calc(var(--vh) * 100);
}