@import "@/assets/styles/mixins";

.card {
  border: 2px solid #5a7181;
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  width: 1432%;
  max-width: 100%;

  @include t {
    margin-block: 14px;
    padding-inline: 14px;
  }
}

.createRequestButton {
  height: 40px;
  width: 143px;
  gap: 8px;
  border-radius: 8px;
  background: #1B2233;
  font-weight: 500;
  font-size: 12px;

  &:hover {
    background: #000;
  }

  @include m {
    width: 55px!important;
    padding: 0;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.searchAndFilters {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;

  @include m {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
}

.requestsList {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 346px);
  height: calc(100 * var(--vh) - 280px);  // todo

  @include t {
    grid-template-columns: repeat(auto-fill, 300px);
    padding-inline: 14px;
    height: calc(100 * var(--vh) - 276px);
    padding-top: 0;
  }

  @include m {
    padding-bottom: 14px;
    height: calc(100 * var(--vh) - 240px);
    grid-template-columns: 1fr;
    padding-inline: 14px;
  }
}

.onScrollSpinnerWrapper {
  padding-block: 10px;
  display: flex;
  justify-content: center;
}

.observerDiv {
  padding-block: 10px;
}

.plusIconInBtn {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.leftHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include m {
    gap: 2px;
  }
}

.subtitle {
  font-size: 12px;
  color: #9AA1AC;
}

.btnText {
  @include m {
    display: none;
  }
}

.wrapperForTabs {

  @include t {
    position: relative;
    height: 38px;
    margin-bottom: 16px;

    @include m {
      height: 24px;
    }
  }
}