@import "@/assets/styles/mixins";

.rightPanel {
  min-width: 365px;
  background: #fff;
  position: fixed;
  right: 24px;
  top: 121px;
  bottom: 0;
  z-index: 10;
  border: 1px #F0F1F1 solid;
  padding: 12px;
  padding-right: 2px; // внутренний блок добавит паддинга, т.к скролл надо еще туда

  @include t {
    box-shadow: -2px 10px 16px -8px rgba(0, 0, 0, 0.15);
  }
}
