@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.svg {
  fill: red;
  animation: spin 1s linear infinite;
}

.svgBlack {
  fill: gray;
  animation: spin 1s linear infinite;
}

.spinnerBlack {
  position: relative;
  top: 2px;
}