@import "@/assets/styles/mixins";

.subCatWrapper {
  padding: 12px 22px;
}

.title {
  color: #131D2A;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;

  @include t {
    font-size: 24px;
  }
}

.subCatList {
  column-count: 3;
  column-gap: 24px;
  column-fill: auto;

  @include t {
    column-count: 2;
  }
}

.requestItem {
  color: #658092;
  font-size: 14px;
  margin-bottom: 12px;
  display: block;

  &:hover {
    color: #131D2A;
  }
}