.type {
  padding-block: 10px;
  padding-inline: 10px;
  width: 150px;
  flex-shrink: 0;
  cursor: pointer;

  &:hover {
    background: #F9FAFB;

    & .menuBtn {
      width: 13px;
    }

    & .value {
      gap: 10px;
    }
  }
}

.value {
  display: flex;
  align-items: center;
  justify-content: right;
}

.menuBtn {
  width: 0;
}

.menuBtnMenuOpen {
  width: 13px;
}

.valueMenuOpen {
  gap: 10px;
}
