@import '@/assets/styles/mixins';

.overview {
  padding: 30px 33px;
  background: white;
  border: 1px solid rgb(240, 241, 241);
  
  @include t {
    padding: 30px;
  }
  
  @include m {
    background: white;
    padding: 0;
    border: none;
    margin-bottom: 20px;
    padding: 16px;    
  }
}

.text {
  margin-bottom: 27px;

  @include t {
    margin-bottom: 15px;
  }
  
  @include m {
    margin-bottom: 5px;
  }
}

.paragraph {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #658092;

  @include t {
    margin-bottom: 16px;
    font-size: 12px;
  }
  
  @include m {
    font-size: 12px;
    margin-bottom: 12px;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.readFull {
  color: rgb(0, 147, 253);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;  
  text-decoration-line: underline;
  margin-bottom: 42px;
  
  @include t {
    font-size: 12px;
    margin-bottom: 29px;
  }  
  @include m {
    margin-bottom: 0;
  }
}

.images {
  display: flex;
  flex-direction: column;
  gap: 18px;
  
  @include m {
    display: none;
  }
}

.image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  object-position: center;  
}

.overviewTitleMobile {
  display: none; 
  
  @include m {
    display:  block;
    color: rgb(19, 29, 42);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 8px;    
  }
}