@import "@/assets/styles/mixins";

.emptyContacts {
  margin-top: 12px;
  padding-inline: 8px;
  height: calc(var(--vh) * 100 - 138px - 66px);

  @include m {
    height: calc(var(--vh) * 100 - 56px - 122px);
  }
}

.textBlock {
  padding: 12px 8px;
  text-align: center;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.text {
  font-size: 12px;
  color: #9AA1AC;
}