@import "@/assets/styles/mixins";

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdownButtonText {
  color: #131D2A;
  font-weight: 600;
  font-size: 12px;
}


.userLetter {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #658092;
  border-radius: 50%;
}


.letter {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #658092;
  border-radius: 50%;
}


//***************


.userDropdownWrapper {
  position: relative;
  background: white;
  z-index: 10;
}

.dropdown {
  padding-inline: 16px;
  background: white;
  width: 100%;
  position: fixed;
  left: 0;
  top: 60px;
  padding-bottom: 8px;
  padding-top: 6px;
}

.user {
  min-height: 72px;
  background: #F9FAFB;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
}

//.letterInDropdown {
//  flex-shrink: 0;
//  width: 48px;
//  height: 48px;
//  color: white;
//  font-size: 32px;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  background: #3E5067;
//  border-radius: 50%;
//}

.userName {
  color: #131D2A;
  font-weight: 600;
  font-size: 16px;
}

.dropdownMenu {
  margin-top: 15px;
  padding-left: 76px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.companiesLink {
  cursor: pointer;
  padding-left: 76px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #131D2A !important;
  display: block;
}

.bottomPart {
  border-top: #F0F1F1 1px solid;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #131D2A;
}

.dropdownLink {
  color: #131D2A;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    color: black;
  }

  &:active {
    color: black;
  }
}

.dropWrapper {
  position: absolute;
  top: 30px;
  padding-top: 32px;
}

.title {
  color: #131D2A;
  font-weight: 500;
  font-size: 12px;
  margin-block: 4px;

}