.wrapper {
  background: white;
  padding: 15px 24px;
  border: 1px solid #F0F1F1;
  box-shadow: 0 4px 14px rgba(0,0,0,.1);
  display: flex;
  gap: 15px;
  align-items: center;
  color: inherit;
  
}

.image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 1px solid #F0F1F1;  
}

.productName {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

