@import "@/assets/styles/mixins";

.wrapper {
  display: flex;
  gap: 12px;
  padding: 10px 14px;
}



.mainBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.rightBlock {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}