@import '@/assets/styles/mixins';

.productPhotoContainer {  
  border: 1px solid #F0F1F1;
  background: #F0F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  

  @include t {
    width: 65px;
    height: 65px;
  }
  
  @include m {
    background: white;
    
  }

  &:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 160px;
    height: 160px;

    @include t {
      width: 140px;
      height: 140px;
    }

    @include m {
      width: 65px;
      height: 65px;
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }
}

.firstEmpty {
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}