@import '@/assets/styles/mixins';

.productMain {
  display: flex;
  gap: 20px;

  @include t {
    gap: 8px;
  }
  
  @include m {
    flex-wrap: wrap;
  }
}

.rightSidebar {
  border: red 1px solid;
  width: 300px;

  @include t {
    width: 213px;
  }

  @include m {
    width: 100%;
  }
}



.details {
  grid-row-start: 2;
  grid-row-end: 3;
  border: pink 2px solid;
  
  @include m {
    width: 100%;
    order: 3;
  }
}

.productWrapper {  
  width: 1121px;
  display: grid;
  grid-template-columns: 639px 1fr;
  grid-template-rows:    min-content 1fr min-content;
  //border: #0093FD 2px solid;
  gap: 15px;
  
  @include t {
    width: 698px;
    grid-template-columns: 314px 364px;
  }
  
  @include m {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  
  @include t {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  @include m {
    order: 2;
  }
}

.tabs {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: span 2;
  border: orange 2px solid;
  padding-top: 20px;
  margin-top: 31px;
  
  @include m {
    order: 4;
  }  
}