@import '@/assets/styles/mixins';

.productPageWrapper {
  @include m {
    padding-bottom: 297px;
  }
}

.productMain {
  display: flex;
  gap: 20px;

  @include t {
    gap: 8px;
  }
  
  @include m {
    flex-wrap: wrap;
  }
}

.productWrapper {  
  width: 1121px;
  display: grid;
  grid-template-columns: 639px 1fr;
  grid-template-rows:    min-content 1fr min-content;
  //border: #0093FD 2px solid;
  gap: 15px;
  
  @include t {
    width: 698px;
    grid-template-columns: 314px 364px;
  }
  
  @include m {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.tabs {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: span 2;
  border: orange 2px solid;
  padding-top: 20px;
  margin-top: 31px;
  
  @include m {
    order: 4;
  }  
}

.spinner {
  width: 100%;
  height: 100vh;
  
}