.attribute {
  padding-inline: 10px;
  width: 150px;
  flex-shrink: 0;
  position: relative;
  text-align: right;
  cursor: pointer;
  padding-block: 10px;
    
  &:nth-child(5) {
    margin-left: auto;
  } 
  
  &:hover {
    background: #F9FAFB;
    
    & .menuBtn {
      width: 13px;
    }

    & .value {
      gap: 10px;
    }
  }  
}

.value {
  display: flex;  
  align-items: center;
  justify-content: right;
}

.menuBtn {  
  width: 0;
}

.menuBtnMenuOpen {
  width: 13px;
}

.valueMenuOpen {
  gap: 10px;
}
