@import '@/assets/styles/mixins';

.writeToSeller {
  background: white;
  padding: 20px;
  
  @include t {
    padding: 20px 16px;
  }
}

.title {
  color: rgb(19, 29, 42);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 15px;
}

.sellerDesc {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  
  @include t {
    margin-bottom: 15px;
  }
  
  @include m {
    margin-bottom: 25px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #000;
  margin-bottom: 3px;
  
  @include t {
    font-size: 12px;
  }
}

.position {
  color: rgb(140, 140, 140);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}

.btn {
  width: 100%;
  font-size: 16px;
  
  @include t {
    font-size: 14px;
  }
  @include m {
    font-size: 16px;
  }
}