@import '@/assets/styles/mixins';

.rightSidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;

  @include t {
    width: 213px;
    gap: 16px;
  }

  @include m {
    width: 100%;    
  }
}