@import "@/assets/styles/mixins";

.ordersListItem {
  cursor: pointer;
  margin-bottom: 16px;
  width: 100%;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.orderPositions {
  margin-bottom: 16px;
}