.filterBtn {
  height: 41px;
  width: 113px;
  border: 1px solid #AAB7BF;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3E5067;
  font-size: 14px;
  gap: 5px;
}