@import "@/assets/styles/mixins";

.desktopChatWrapper {
  display: flex;
  height: 100%;
}

.contactsBlock {
  width: 330px;
  flex-shrink: 0;
}

.messagesBlock {
  width: 900px; // 916
  background: #F9F9FB;
}

.chatInfo {
  width: 356px;
  flex-shrink: 0;
}

.noCurrentRequest {
  width: 1260px!important;
}