@import "@/assets/styles/mixins";

.geoDiv {
  height: 15px;
  color: #3E5067;
  font-size: 12px;
}

.header {
  background: white;
  padding-bottom: 8px;
}

.headerLK {
  background: white;
}

.wrapper {
  padding-block: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logoLink {
  margin-right: 62px;
  display: flex;
  align-items: center;

  @include t {
    margin-right: 30px;
  }
}

.logo {
  @include m {
    width: 51px;
  }
}

.mobileMenuBtn {
  display: none;

  @include m {
    display: block;
    margin-right: 17px;
  }
}

.cartBtnOnMobile {
  display: none;

  @include m {
    display: block;
    margin-left: auto;
  }
}

.lkHeaderButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

