@import "@/assets/styles/mixins";

.geoDiv {
  height: 15px;
  color: #3E5067;
  font-size: 12px;
}

.header {
  background: white;
  padding-bottom: 8px;
}

.headerLK {
  background: white;
  height: 72px;
  z-index: 1;
}

.wrapper {
  height: 72px;
  padding-block: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  margin-right: 62px;
  display: flex;
  align-items: center;

  @include t {
    margin-right: 30px;
  }
}

.logo {
  @include m {
    width: 51px;
  }
}

.mobileMenuBtn {
  display: none;

  @include m {
    display: block;
    margin-right: 17px;
  }
}

.cartBtnOnMobile {
  display: none;

  @include m {
    display: block;
    margin-left: auto;
  }
}

.lkHeaderButtons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}


.loginBtn {
  height: 40px;
  width: 110px;
  background: #1B2233;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}


