@import '@/assets/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  
  @include t {
    gap: 12px;
  }

  @include m {
    gap: 8px;
  }
}

.title {
  color: #3E5067;
  font-weight: 600;
  font-size: 19px;
}

.errorMessage {
  margin-top: 3px;
  color: #E32636;
  font-size: 12px;
}