@import '@/assets/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  
  @include t {
    gap: 12px;
  }

  @include m {
    gap: 8px;
  }
}

.title {
  color: #3E5067;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 4px;
  
  @include t {
    margin-bottom: 12px;
  }
  
  @include xs {
    font-size: 18px;    
  }
}

.errorMessage {
  margin-top: 3px;
  color: #E32636;
  font-size: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.backButton {
  width: unset;
  padding-inline: 10px;
  color: #E32636;
  background: #FFDEE1;
  font-weight: 500;

  @include m {
    font-size: 14px;
    font-weight: 400;
    height: 37px;
  }
  
  &:hover {
    background: #fcd2d5;
  }
}

.continueBtn {
  width: unset;
  font-weight: 500;
  padding-inline: 10px;
  height: 37px;

  @include m {
    font-size: 14px;
    font-weight: 400;
  }
}

