@import "@/assets/styles/mixins";

.geoButton {
  height: 44px;
  min-width: 166px;
  background: #F6F7F9;
  border: #F0F1F1 solid 1px;
  border-radius: 8px;
  margin-right: 12px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  
  @include t {
    min-width: 142px;
  }

  @media (hover: hover) {
    &:hover {
      background: #ECEEF1;
      transition: all .2s ease-in-out;
    }
  }
}

.arrow {
  margin-left: auto;
  flex-shrink: 0;
}

.selectRegionText {
  color: #3A3F49;
  font-weight: 500;
  font-size: 14px;
}

.cityText {
  color: #3A3F49;
  font-weight: 500;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

.geoIcon {
  flex-shrink: 0;
}