@import "@/assets/styles/mixins";

.item {
  padding-inline: 8px;
  //padding-block: 4px;
  border-radius: 8px;
  color: #16181D;
  cursor: pointer;
}

.lastItem {
  padding: 8px;
  padding-left: 16px;
  border-radius: 8px;
  color: #16181D;
  font-size: 14px;

  &:hover {
    background: #ECEFF5;
  }
}

.itemOpened {
  font-weight: 600;
  padding-block: 4px;
}

.itemClosed {
  padding-block: 4px;
}