@import '@/assets/styles/mixins';

.menu {  

  @include m {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    background: white;
    height: 56px;
  }
}

.menuWrapper {
  display: none;
  height: 71px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  @include m {
    display: block;
  }
}

.gray {
  height: 15px;
  background: #F9F9FB;
}