@import '@/assets/styles/mixins';

.images {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 24px;  
  
  @include t {
    gap: 29px;
  }
  
  @include m {   
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 8px
  }
}

.image {
  width: 200px;
  height: 200px;
  object-position: center;
  object-fit: cover;
  
  @include m {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
  }
}