@import "@/assets/styles/mixins";

.additionalPart {
  width: 250px;
  min-height: 100px;

  @include t {
    position: absolute;
    left: -235px;
    width: 215px;
    top: 325px;
  }

  @include m {  
    display: none;
  }
}

.topBlock {
  background: white;
  padding: 20px;
  margin-bottom: 24px;
  border: #F5F5F5 1px solid;
  
  @include t {
    margin-bottom: 8px;
  }

  @include m {
    display: none;
    background: white;
  }
}

.bottomBlock {
  border: #F5F5F5 1px solid;
  padding: 20px;
  background: white;
  text-align: right;
  font-size: 14px;

  @include t {
    padding: 20px 20px 20px 14px;
  }

  @include m {
    display: none;
  }
}

.wrapper {
  padding-block: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #3E5067;
  border-bottom: #F0F1F1 1px solid;
}

.value {
  font-size: 16px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 14px;
  border-bottom: 1px solid #F0F1F1;
}

.sumLabel {
  font-size: 14px;
  color: #09213D;
  font-weight: 600;
}

.sumValue {
  color: #131D2A;
  font-size: 20px;
  font-weight: 500;
}

.downloadIcon {
  fill: #3E5067;
}

.downloadLink {
  color: #658092;
  font-weight: 500;
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8px;

  @include t {
    gap: 8px;
  }

  &:hover, &:active {
    color: #3E5067;

    & svg {
      fill: #131D2A;
    }
  }
}

.repeatBtn {
  color: #658092;
  margin-bottom: 4px;
  
  &:hover {
    color: #3E5067;
  }
}

.returnGoodsBtn {
  color: #E32636;
  margin-bottom: 4px;
  
  &:hover {
    color: #c31a24;
  }  
}

.cancelOrderBtn {
  color: #E32636;
  
  &:hover {
    color: #c31a24;
  }  
}