@import "@/assets/styles/mixins";

.tabs {
  display: flex;
  font-size: 14px;
  color: #658092;
  margin-bottom: 16px;
  gap: 6px;
}

.tab {
  flex-shrink: 0;
  border: 1px solid #DFE2E7;
  height: 38px;
  border-radius: 4px;
  padding: 11px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  padding-inline: 14px;
  color: #565C68;
  font-size: 12px;
  font-weight: 500;

  @include m {
    height: 24px;
  }
}

.tabActive {
  background-color: #ECEFF5;
  color: #3D4A66;
  font-weight: 600;
  font-size: 13px;
}

.count {
  background-color: #EEF0F3;
  border-radius: 50px;
  height: 16px;
  min-width: 20px;
  padding-inline: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8A8F98;
  font-size: 10px;
  font-weight: 600;
}

.countActive {
  background-color: #3D4A66;
  color: white;
}

.tabsWrapperForScroll {

  @include t {
    position: absolute;
    padding-inline: 14px;
    overflow-x: auto;
    width: auto;
    max-width: 100%;
  }

  @include m {
    width: auto;
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.tabletEndItem {
  display: none;

  @include t {
    display: block;
    width: 8px;
    height: 10px;
    background-color: transparent;
    flex-shrink: 0;
  }
}

