.firstText {
  font-size: 12px;
  margin-bottom: 5px;
  color: #658092;
}

.nameBlock {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #131D2A;
  margin-bottom: 20px;
}