@import '@/assets/styles/mixins';

.wrapper {
  display: flex;
  flex:1;
  margin-bottom: 150px;
  align-items: flex-start;
  
  @include m {
    margin-bottom: 50px;
  }
}

.rightPartWrapper {
  flex: 1;
  margin-left: 22px;
  
 
  @include m {
    width: 100%;
    margin-left: 0;
  }
}
