@import '@/assets/styles/mixins';

.title {
  margin-bottom: 24px;
  
  @include m {
    margin-top: 17px;
  }
}

.wrapper {
  display: flex;
  flex:1;
  margin-bottom: 53px;
  align-items: flex-start;  
}

.rightPart {
  flex: 1;
  margin-left: 22px;
 
  @include m {
    width: 100%;
  }
}

.sortAndView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 15px;
  border-bottom: 1px #F0F1F1 solid;
  
  @include t {
    margin-bottom: 24px;
  }
  
  @include m {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
