@import '@/assets/styles/mixins';

.oneValue {
  padding: 3px 8px;
  background: #F0F1F1;
  border-radius: 11px;
  width: max-content;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
    
  
  &:last-child {
    margin-bottom: 0;
  }

  @include m {
    font-size: 12px;
  }
}

.oneValueStar {
  padding: 3px 8px;
  background: #F0F1F1;
  border-radius: 11px;
  width: max-content;  
  cursor: pointer;
  user-select: none;
  display: flex;
  gap: 5px;
  
  @include m {
    padding: 2px 8px;
  }
}

.oneValueActive {
  background: #3E5067;
  color: white;
  display: flex;
  gap: 5px;
  align-items: center;
}

