

.title {
  color: #131D2A;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 140%;
}

.text {
  color: #658092;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 22px;
  line-height: 140%;
}

.input {
  background: #F9FAFB;
  width: 100%;
  border: 1px solid #F0F1F1;
  border-radius: 5px;
  height: 48px;
  padding: 13px 17px 14px 15px;
  margin-bottom: 12px;
  font-size: 15px;
  transition: border .1s ease-in-out;
  letter-spacing: 2px;

  &::placeholder {
    color: #658092;
    font-size: 15px;
  }

  &:focus {
    outline: #d9dfe2 1px solid;
  }
}

.btn {
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  width: 250px!important;
  margin: 0 auto;
  padding: 0;
}

.backBtn {
  //position: absolute;
  //top: 20px;
  //left: 30px;
}

.redBorder {
  border: 1px solid #E32636!important;
}

.invalidCode {
  color: #E32636;
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  margin-bottom: 16px;
}

.timerString {
  text-align: center;
  color: #658092;
  font-size: 16px;
  font-weight: 500;
}

.topPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}


.closeBtn {
  position: relative;
  top: 2px;
}