@import "@/assets/styles/mixins";

.events {
  background: #F6F7F9;
  border-radius: 4px;
  border: 1px solid #DFE2E7;
  padding: 16px;
  height: calc(100 * var(--vh) - 372px);

  @include t {
    height: auto;
  }

  @include m {
    margin-top: 14px;
    padding-bottom: 0;
  }
}

.title {
  color: #16181D;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 6px;
}

.eventsList {
  display: flex;
  flex-direction: column;
}

.eventsListItem {
  padding-block: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-bottom: 1px solid #F2F3F5;

  @include m {
    padding-block: 12px;
    border-color: #EAECEF;
  }

  &:last-child {
    border-bottom: none;
  }
}

.topPart {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;

  @include m {
    flex-direction: column;
    gap: 4px;
  }
}

.eventName {
  color: #1F232B;
  font-weight: 500;
  font-size: 13px;

  @include m {
    font-size: 12px;
  }
}

.eventDate {
  color: #9AA1AC;
  font-size: 12px;
  text-wrap: nowrap;

  @include m {
    font-size: 11px;
  }
}

.bottomPart {
  color: #9AA1AC;
  font-size: 12px;

  @include m {
    display: none;
  }
}

