@import "@/assets/styles/mixins";

.lk {
  background: #F9F9FB;
  min-height: 100vh;
}

.sideBar {
  width: 64px;
  position: fixed;
  top: 134px;
  bottom: 12px;
  background: #DDE2E8;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 0;
}

.content {
  margin-left: 64px;
  padding-left: 100px;  // todo убрать
  padding-top: 134px;
}