@import "@/assets/styles/mixins";

.lk {
  background: #F9F9FB;
  min-height: 100vh;
}

.sideBar {
  width: 64px;
  position: fixed;
  top: 134px;
  bottom: 12px;
  background: #DDE2E8;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 6px;
  padding-inline: 8px;

  @include m {
    display: none;
  }
}

.lkContent {
  padding-top: 134px;

  @include m {
    margin-left: 0;
    padding-left: 0;
    padding-top: 14px;
  }
}

.rightBarWrapper {
  position: fixed;
  width: 24px;
  background: #DDE2E8;
  right: 0;
  top: 122px;
  bottom: 0;

  @include m {
    display: none;
  }
}

.rightBar {
  display: flex;
  flex-direction: column;
  //gap: 20px;
  width: min-content; /* Ширина подстроится под высоту текста */
}


