@import "@/assets/styles/mixins";

.wrapper {  
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-top: 18px;
  
  @include m {
    flex-direction: column;
    gap: 11px;
    padding-top: 8px;    
  }
}

.menu {   
  background: white;
  padding: 20px;
  width: 301px;
  min-width: 301px;
  border: #F0F1F1 1px solid;

  @include t {
    min-width: 215px;
    width: 215px;
  }
  
  @include m {
    display: none;
  }
}

.menuItemLink {
  height: 45px;  
  padding-inline: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #658092;
  font-weight: 600;
  font-size: 18px;

  @include t {
    height: 44px;
    font-size: 14px;
    font-weight: 500;
  }
  
  &:hover, &:active {
    color: #131D2A;
    
    svg {
      fill: #131D2A;
    }
  }
}

.menuItemLinkActive {
  margin-bottom: 10px;
  height: 45px;
  border: #F0F1F1 solid 1px;
  padding-inline: 10px;
  display: flex;  
  gap: 10px;
  align-items: center;
  background: #F9FAFB;
  color: #131D2A;
  font-weight: 600;
  font-size: 18px;  
  
  @include t {
    height: 44px;
    font-size: 14px;
    font-weight: 500;
  }
  
  &:hover, &:active {
    color: #131D2A;
  }

  svg {
    fill: #131D2A;
  }
}

