@import "@/assets/styles/mixins";

.lk {
  background: #F9F9FB;
  min-height: 100vh;
}

.sideBar {
  width: 64px;
  position: fixed;
  top: 134px;
  bottom: 12px;
  background: #DDE2E8;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 6px;
  padding-inline: 8px;

  @include m {
    display: none;
  }
}

.lkContent {
  padding-top: 134px;

  @include m {
    margin-left: 0;
    padding-left: 0;
    padding-top: 14px;
  }
}

.rightBarWrapper {
  position: fixed;
  width: 24px;
  background: #DDE2E8;
  right: 0;
  top: 122px;
  bottom: 0;

  @include m {
    display: none;
  }
}

.rightBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 12px;
  width: min-content; /* Ширина подстроится под высоту текста */
  background: #D1F4D5;

}

.rightBarItem {
  user-select: none;

  cursor: pointer;
  /* Основное свойство для поворота текста */
  writing-mode: vertical-rl;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
  padding-inline: 10px;
  padding-left: 5px;

}

.rightPanel {
  width: 365px;
  background: #fff;
  position: fixed;
  right: 24px;
  top: 121px;
  bottom: 0;
  z-index: 10;
  border: 1px #F0F1F1 solid;


  @include t {

    box-shadow: -2px 10px 16px -8px rgba(0, 0, 0, 0.15);

  }
}

.menuItem {
  cursor: pointer;
}

.menuItemLink {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    position: relative;
    top: 0;
    fill: #658092;
  }
}

.menuItemLinkActive {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 4px;

  svg {
    position: relative;
    top: 0;
    fill: #000;
  }
}