@import '@/assets/styles/mixins';

.questionWrapper {
  padding: 31px 11px 30px 11px;
  border-bottom: rgb(240, 241, 241) 1px solid;
  
  &:first-child {
    padding-top: 0;    
  }
  
  @include m {
    background: white;
    padding: 16px;
    padding-bottom: 24px;
    margin-bottom: 8px;
    border-top: rgb(240, 241, 241) 1px solid;
    
    &:last-child {
      margin-bottom: 12px;
    }   
  }
}

.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.name {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}

.date {
  color: rgb(101, 128, 146);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.text {
  color: rgb(101, 128, 146);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 15px;
}