@import '@/assets/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  position: relative;

  @include t {
    gap: 12px;
  }

  @include m {
    gap: 8px;
  }
}

.title {
  color: #3E5067;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 24px;

  @include xs {
    font-size: 18px;
  }
}



.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.backButton {
  width: unset;
  padding-inline: 10px;
  color: #E32636;
  background: #FFDEE1;
  font-weight: 500;

  &:hover {
    background: #fcd2d5;
  }
}

.continueBtn {
  width: unset;
  font-weight: 500;
  padding-inline: 10px;
}
