@import "@/assets/styles/mixins";

.tabsWrapper {
  border-bottom: 1px solid #F0F1F1;
  height: 48px;
  padding-top: 6px;
  display: flex;
  gap: 8px;
  padding-inline: 6px;

  min-width: 0;
  overflow: hidden;
  //max-width: calc(100vw - 316px);

  @include t {
    //max-width: calc(100vw - 316px);
  }

  @include m {
    display: none;
  }
}