@import '@/assets/styles/mixins';

.sliderBlock {  
  display: flex;
  gap: 15px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;

  @include t {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @include m {
    width: 100%;
    order: 1;
  }
}

.bigPicture {
  cursor: pointer;
  border: #F0F1F1 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 544px;
  min-height: 544px;
  position: relative;

  @include t {
    width: 314px;
    min-height: 314px;
  }

  @include m {
    width: 100%;
    min-height: 360px;
    margin-top: 8px;
  }
}

.image {
  max-width: 100%;
  object-fit: contain;
}

.spinner {
  height: 544px!important;
}



.favBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.favBtnMobile {
  position: absolute;
  top: 15px;
  right: 15px;
  
  width: 16px;
  height: auto;
  z-index: 2;
  
  svg {
    max-width: 100%;
  }
  
  @include m {
    top: unset;
    bottom: 15px;
  }
}
