@import '@/assets/styles/mixins';

.manageProductWrapper {
  width: 100%;
  position: relative;
  padding-bottom: 36px;
  
  @include m {
    padding-inline: 16px;
    padding-bottom: 56px;
  }
}

.backLink {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
  color: #658092;
  font-size: 14px;
  font-weight: 500;

  @include m {
    padding-right: 11px;
    margin: 0;
  }
}

.backLinkText {
  @include m {
    display: none;
  }
}

.backArrow {
  position: relative;
  top: 1px;

  @include m {
    top: 0;
  }
}

.mainTitle {
  color: #131D2A;
  font-size: 28px;
  font-weight: 600;

  @include m {
    font-size: 18px;
  }
}

.linkAndTitleWrapper {
  width: 780px;
  display: flex;
  flex-direction: column;
  
  @include t {
    width: 100%;
  }
  
  @include m {
    width: 100%;
    flex-direction: row;
    margin-block: 12px;
    align-items: center;
  }
}

.topPart {
  display: flex;
  gap: 24px;
  height: 145px;
  
  @include t {
    flex-direction: column;
  }  
  
  @include m {
    gap: 10px;
  }
}

.stepsNav {
  width: 307px;
  
  @include t {
    width: 100%;
  }
}

.stepsContainer {
  margin-top: -54px;
  width: 780px;
  
  @include t {    
    margin-top: -16px;
    width: 100%;
  }
}

.submitBtn {
  margin-top: 50px;
  margin-bottom: 40px;
  background: darkgreen;
  white-space: nowrap;
}

.stepsContainerMore {
  @include m {
    margin-top: 40px;
  }
}


.contentWrapperRightPanelOpen {
  right: calc( 24px + 16px + 365px) !important;  // отступ + ширина правой панели

  @include t {
    right: calc( 24px + 16px) !important;  // панель ляжет сверху
  }
}


.contentWrapper {

  max-width: 100%;
  overflow: auto;

  top: 134px;
  position: fixed;
  left: calc(250px + 64px);  // ширина двух левых боковых меню
  background: #fff;
  padding: 16px 24px;
  padding-right: 10px;
  right: calc( 24px + 16px);  // отступ + ширина правой панели
  bottom: 12px;
  border: #F0F1F1 1px solid;

  @include t {
    left: calc(174px + 64px);  // ширина двух левых боковых меню
  }

  @include m {
    position: static;
    background: transparent;
    padding: 0;
    border: none;
  }


  @-moz-document url-prefix() {
    scrollbar-width: thin !important;
    scrollbar-color: var(--lime) rgba(37, 37, 38, 0.1) !important;
  }

  &::-webkit-scrollbar {
    width: 6px !important; /* Ширина скроллбара */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #AAB7BF !important;
    border-radius: 10px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: #F0F1F1 !important;
    border-radius: 10px !important;
  }
}


.leftSideMenu {
  padding-block: 14px;
  padding-inline: 12px;
  position: fixed;
  top: 134px;
  left: 64px;
  width: 250px;
  bottom: 12px;

  @include t {
    width: 174px;
    padding-block: 10px;
    padding-inline: 10px;
  }

  @include m {
    display: none;
  }
}
