@import "@/assets/styles/mixins";

.outerWrapper {
  border-bottom: 1px solid #F0F1F1;
  width: 1116px;
  
  &:last-child {
    border-bottom: none;
  }
  
  @include t {
    width: 1046px;
  }
  
}

.middleRowWrapper {    
  width: 1116px;

  @include t {
    width: 1046px;
  }
}

.middleRow {
  height: 74px;
  display: flex;
  padding-block: 10px;
  //width: 218px;
  width: 100%;
}

.hovered {
  background: #F9FAFB;
  //border-right: #D1D5DB 1px solid;
}

.name {
  width: 210px;
  //border: 1px solid red;  
  flex-shrink: 0;
  padding-right: 10px;
  padding-left: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;      /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  
  
  @include t {
    width: 142px;
  }
}

.nameWrapper {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catName {
  color: #658092;
  font-size: 12px;
  padding-left: 10px;
}

.barcode {
  width: 120px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}

.brand {
  width: 120px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}

.price {
  width: 110px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}

.rating {
  width: 110px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}


.reviews {
  width: 60px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}


.inStock {
  width: 110px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}


.createDate {
  width: 130px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}

.updateDate {
  width: 140px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}



