@import '@/assets/styles/mixins';

.moveOnHover {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.productCardHorizontal {
  position: relative;
  min-height: 150px;
  display: flex;
  padding-block: 20px;
  border-bottom: 1px solid #E1E1E1;

  &:hover {
    .imgWrapper {
      box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.035);
    }
  }

  .imgCardHor {
    background: #fff;
    width: 210px;
    height: 213px;
    object-fit: contain;
    margin-left: 5px;
  }

  // horizontal
  .imgWrapper {
    width: 210px;
    height: 213px;
    margin-right: 30px;
  }
}

.productCardVertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 264px;
  min-height: 419px;
  min-height: 100px;
  position: relative;
  justify-content: space-between;

  @include t {
    width: 215px;
    min-height: 369px;
  }

  @include m {
    width: 100%;
    height: auto;
    min-height: unset;
  }

  &:hover {
    .moveOnHover {
      transform: translateY(5px);      
      flex-direction: column;
      
    }
    
    .imgWrapper {
      margin-bottom: 10px;
      box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.035);
      transition: .2s ease transform;
    }

    .priceWrapper {
      margin-bottom: 21px;
      
      @include m {
        margin-bottom: 18px;
      }
    }
  }

  // блоки внутри вертик. карточки
  .priceAndCartBlock {
    margin-top: auto;
    margin-left: 0;
  }

  .title {
    font-size: 16px;
    margin-bottom: 6px;
    width: 85%;

    @include t {
      font-size: 12px;
    }
    
    @include m {
      width: 100%;
    }
  }

  .reviews {
    font-size: 12px;
  }

  .rating {
    margin-bottom: 10px;
  }

  .priceAndCartBlock {
    width: auto;
  }

  .price {
    font-size: 18px;
    line-height: 14px;
  }

  // vertical
  .imgWrapper {
    margin-bottom: 15px;
    width: 260px;
    height: 260px;


    @include t {
      margin-bottom: 14px;
      width: 218px;
      height: 218px;
    }

    @include m {
      width: 100%;
      max-height: 200px;
      margin-bottom: 8px;
    }
    
    @include xs {
      max-height: 160px;
    };
  }
}

.topVerticalCardWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  svg {
    width: 18px;
    height: 16px;
  }
}

.imgCardVer {
  background: #fff;
  max-width: 100%;
  width: 230px;
  height: 230px;
  object-fit: contain;


  @include t {
    width: 185px;
    height: 185px;
  }

  @include m {
    width: 160px;
    max-width: 100%;    
  }
}

.priceHighlighted {
  color: #E32636;
  font-family: 'Exo 2';
  font-size: 18px;
  font-weight: 600;
  line-height: 14px;
  margin-right: 10px;
}


s.title {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 5px;

  @include t {
    font-size: 12px;
  }
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.star {
  margin-right: 2px;
}

.reviews {
  color: rgb(101, 128, 146);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.featureItem {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.featureName {
  color: rgb(101, 128, 146);

  margin-right: 5px;
}

.featureValue {
  color: rgb(19, 29, 42);
  margin-right: 5px;
}

.priceAndCartBlock {
  width: 270px;
  margin-left: auto;
}

.priceWrapper {
  margin-top: auto;
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
}

.price {
  font-family: 'Exo 2';
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  margin-right: 10px;

}

.regularPrice {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  color: #658092;
  text-decoration: line-through;
}

.vendor {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  color: #658092;
  margin-bottom: 16px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.favoriteIcon {
  fill: #3E5067;
  ransition: all .2s ease-in-out;

  &:hover {
    fill: #c31a24;
  }
}

.favBtn {
  position: relative;
  z-index: 2;

  @include m {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.verCardBtn {
  width: 100% !important;
  position: relative;
  z-index: 2;
  
  @include m {
    height: 32px!important;
    font-size: 14px!important;
  }
}

.imgWrapper {
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  border: 1px #F0F1F1 solid;
  position: relative;  
  z-index: 100;
}

.cartInputVertical {
  width: 100% !important;
  
  @include m {
    height: 32px!important;
  }
}

.cardLink {
  color: #000;
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
  }
}

.toCartBtn {
  position: relative;
  z-index: 2;
  
}

