@import '@/assets/styles/mixins';

.productPhotosWrapper {
  margin-bottom: 40px;
  
  @include m {
    margin-bottom: 16px;
  }
}

.subtitle {
  color: #3E5067;
  font-size: 19px;
  font-weight: 600;

  @include m {
    font-size: 16px;
  }
}

.photosWrapper {
  height: 162px;
  width: 100%;
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(9, 1fr) ;
  grid-template-rows: 1fr 1fr;
  
  @include t {
    height: 142px;
  }

  @include m {
    grid-template-columns: repeat(15, 1fr) ;
    gap: 0;
    overflow: auto;
    position: absolute;
    left: -16px;
    width: calc(100vw);
    padding-left: 16px;
    padding-right: 16px;
    height: 68px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @include m {
    margin-bottom: 12px;
  }
}

.mobileScrollWrapper {
  position: relative;

  @include m {
    height: 65px;
  }
}

.textBlock {
  padding: 11px 20px;
  color: #3E5067;
  font-size: 14px;
  background: #F0F1F1;
  border-radius: 5px;
  margin-top: 16px;
  
  @include m {
    margin-top: 12px;
  }
}

.addPhotoBtn {
  
  @include m {
    display: none;
  }
}