@import "@/assets/styles/mixins";

.wrapper {
  padding-inline: 12px;
  padding-block: 12px;
}

.subtitle {
  font-size: 12px;
  font-weight: 500;
  color: #658092;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.clientItems {
  margin-bottom: 16px;
}