@import "@/assets/styles/mixins";

.card {
  padding: 10px 14px;
  border-bottom: 1px solid #E8EAED;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;

  @include m {
    border: 1px solid #DFE2E7;
    border-radius: 8px;
    background: #F9F9FB;
  }
}

.lastCard {
  border-bottom: none!important;

  @include m {
    border-bottom: 1px solid #E8EAED!important;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeftPart {
  display: flex;
  gap: 4px;
  align-items: center;
}

.headerRightPart {
  display: flex;
  gap: 4px;
  align-items: center;
}

.roundInitials {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: #658092;
}

.name {
  font-weight: 600;
  font-size: 12px;
  color: #1F232B;
}

.pinnedBadge {
  height: 18px;
  border-radius: 5px;
  background: #fff;
  font-size: 11px;
  font-weight: 600;
  color: #565C68;
  padding-inline: 10px;
  border: 1px solid #DCE0E5;
  display: flex;
  align-items: center;
}

.commonBadge {
  height: 18px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-inline: 8px;
  gap: 6px;
  text-wrap: nowrap;
}

.date {
  color: #658092;
  font-size: 11px;
  text-wrap: nowrap;
}

.messageText {
  color: #6B7280;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  max-width: 76vw;

}

.pinnedFiles {
  color: #6B7280;
  font-style: italic;
  font-size: 12px;
}

.cardBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unread {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2A2E37;
  height: 18px;
  min-width: 18px;
  padding-inline: 5px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
}

.buttons {
  display: flex;
  gap: 4px;
}

.btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E8EAEE;
  border-radius: 4px;
  background: #fff;
  color: #9CA3AF;
  transition: .2s ease-in-out all;

  @media(hover: hover) {
    &:hover {
      color: #3D4A66;
      border: 1px solid #cdcfd2;
      transition: .2s ease-in-out all;
    }
  }
}