@import "@/assets/styles/mixins";

.lkMain {
  width: 100%;
}

.mobileTabsWrapper {  
  display: none;
  position: relative;
  
  @include m {    
    display: block;
    height: 24px;
    width: 100%;  
    margin-bottom: 12px;
    margin-top: -1px;   
  }
}

.mobileTabs {
  position: absolute;
  top: 0;  
  height: 100%;
  width: 100%;
  display: flex;
  gap: 4px;
  overflow: auto;
  padding-inline: 16px;

  -ms-overflow-style: none; 
  scrollbar-width: none; 
  &::-webkit-scrollbar {
    display: none;
  }
}

.mobileTabItem {
  flex-shrink: 0;
  color: #000;
  background: white;
  border-radius: 16px;
  border: 1px solid #F0F1F1;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.mobileTabItemActive {
  padding: 5px 10px;
  flex-shrink: 0;
  color: white;
  background: #3E5067;
  border-radius: 16px;
  border: 1px solid #F0F1F1;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {  
  display: inline-flex;  
  background: white;
  border: 1px solid #F0F1F1;
  margin-bottom: 24px;
  height: 43px;
  color: #658092;
  font-weight: 500;
  font-size: 12px;
  align-items: center;
  padding: 4px;  
  
  
  @include m {
    display: none;
  }  
}

.tabItem {
  padding: 10px 18px;  
  cursor: pointer;
  user-select: none;
}

.tabItemActive {
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 2px;
  background: #AAB7BF;
  color: white;
  user-select: none;
}

// --------------------

.leftSideMenu {
  padding-block: 14px;
  padding-inline: 12px;
  position: fixed;
  top: 134px;
  left: 64px;
  width: 250px;
  bottom: 12px;


  @include t {
    width: 174px;
    padding-block: 10px;
    padding-inline: 10px;
  }

  @include m {
    display: none;
  }
}

.contentWrapper {
  top: 134px;
  position: fixed;
  left: calc(250px + 64px);  // ширина двух левых боковых меню
  background: #fff;
  padding: 16px 24px;
  padding-right: 10px;
  right: calc( 24px + 16px);  // отступ + ширина правой панели
  bottom: 12px;
  border: #F0F1F1 1px solid;

  @include t {
    left: calc(174px + 64px);  // ширина двух левых боковых меню
  }

  @include m {
    position: static;
    background: transparent;
    padding: 0;
    border: none;
  }
}

.content {
  overflow: auto;
  padding-right: 12px;
  height: 100%;

  @-moz-document url-prefix() {
    scrollbar-width: thin !important;
    scrollbar-color: var(--lime) rgba(37, 37, 38, 0.1) !important;
  }

  &::-webkit-scrollbar {
    width: 6px !important; /* Ширина скроллбара */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #AAB7BF !important;
    border-radius: 10px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: #F0F1F1 !important;
    border-radius: 10px !important;
  }

  @include m {
    max-height: unset;
  }
}

.contentWrapperRightPanelOpen {
  right: calc( 24px + 16px + 365px);  // отступ + ширина правой панели

  @include t {
    right: calc( 24px + 16px);  // панель ляжет сверху
  }
}