@import '@/assets/styles/mixins';

.filtersButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: #AAB7BF 1px solid;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  padding-inline: 15px;
  border-radius: 50px;
}