@import 'normalize';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Inter, serif;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: inherit;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}