@import "@/assets/styles/mixins";

.layoutDesk {
  min-height: calc(var(--vh)*100);
  background: #F9F9FB;
  display: flex;
  overflow: hidden;
}

.rightPart {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;

  @include m {
    gap: 0;
  }
}


.header {
  background: #fff;
  height: 76px;
  width: 100%;
}

.underHeaderPart {
  display: flex;
  gap: 6px;
  height: calc(var(--vh) * 100 - 76px - 12px);
  padding-inline: 8px;

  @include m {
    padding-inline: 0;
    height: calc(var(--vh) * 100 - 56px);
  }
}

.contentWithTabs {
  background: #fff;
  flex: 1;
  border-radius: 8px;
  border: 1px solid #F0F1F1;
  max-width: calc(100vw - 328px);

  @include t {
    border-radius: 4px;
    max-width: calc(100vw - 228px);
  }

  @include m {
    max-width: unset;
    border: none;
  }
}

.contentWrapper {
  height: calc(var(--vh) * 100 - 48px - 76px - 12px);
  overflow: hidden;
  position: relative;

  @include m {
    height: calc(var(--vh) * 100 - 56px);
  }
}

