@import '@/assets/styles/mixins';

.underlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 /.2);
  z-index: 10;

  @include m {
    background: transparent;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 49.6%;
  transform: translate(-50%, -50%);
  width: 794px;
  height: 580px;
  background: white;
  padding: 20px 15px;
  overflow: auto;

  @include t {
    width: 722px;
  }

  @include m {
    width: 100%;
    background: #F9F9FB;
    inset: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
}

.mainTitle {
  color: #3E5067;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

.backBtn {
  display: none;

  @include m {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -2px;
  }
}

.req {
  height: 50px;
  border: #ccc 1px solid;
  margin-bottom: 20px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 15px;

  @include m {
    display: none;
  }
}


.title {
  color: #658092;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;

  @include m {
    display: none;
  }
}

.filesInputText {
  color: #658092;
  font-size: 12px;
}

.cameraIcon {
  width: 20px;
  height: 20px;
}


.fileInput {
  display: none;
}

.filesInput {
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px dashed #AAB7BF;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;

  @include m {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

