@import '@/assets/styles/mixins';

.underlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 /.2);
  z-index: 10;

  @include m {
    background: transparent;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 49.6%;
  transform: translate(-50%, -50%);
  width: 810px;
  background: white;
  padding: 20px 15px;
  overflow: auto;

  @include t {
    width: 722px;
  }

  @include m {
    padding-inline: 0;

    width: 100%;
    background: #F9F9FB;
    inset: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
}

.mainTitle {
  color: #3E5067;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  @include m {
    padding-inline: 16px;
  }
}

.backBtn {
  display: none;

  @include m {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -2px;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 15px;

  @include m {
    display: none;
  }
}

.buttons {
  border-top: #AAB7BF 1px solid;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-top: 16px;
  margin-top: 10px;

  @include m {
    border: none;
    padding-inline: 16px;
    justify-content: space-between;
  }
}

.addBtn {
  width: 117px;
  height: 36px;
}

.cancelBtn {
  width: 101px;
  padding-inline: 10px;
  color: #E32636;
  background: #FFDEE1;
  font-weight: 500;
  height: 36px;

  &:hover {
    background: #fcd2d5;
  }
}

.scrollableContent {
  overflow-y: auto;
  height: calc(580px - 138px);

  @include m {
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}

.innerScrollable {
  padding-right: 6px;
  position: relative;
}

.bottomDiv {
  margin-top: 36px;
  margin-bottom: 10px;
}