@import '@/assets/styles/mixins';

.savedCartItem {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  
  @include m {
    flex-direction: column;
    
  }
  

}

.nameBlock {
  width: 294px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  @include m {
    width: unset;
  }
}

.name {
  color: #131D2A;
  font-size: 18px;
  font-weight: 600;
  
  @include m {
    font-size: 14px;
  }
}

.date {
  color: #3E5067;
  font-size: 16px;
  
  @include m {
    font-size: 10px;
    margin-bottom: 8px;
  }
}

.namePriceBlock {
  width: 585px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border: green 1px solid;

  @include t {
    width: 492px;
  }

  @include m {
    width: 100%;
  }
}

.pictureDropdownBlock {  
  width: 376px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  
  @include t {
    width: 330px;
  }

  @include m {
    width: 100%;
  }
}

.chooseAll {
  cursor: pointer;
  svg {
    display: block;
  }
  
  @include m {
    order: 1;
  }
}

.productList {
  //padding: 24px;
  background: white;
  margin-bottom: 5px;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  border-bottom: #F0F1F1 1px solid;
  &:last-child {
    border-bottom: none;
  }
  
}

.price {
  color: #09213D;
  font-size: 20px;
  font-weight: 600;
  
  @include m {
    font-size: 18px;
    
  }
}

.picturesAndMore {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  @include m {
    align-items: flex-start;
  }
}

.pictureList {
  display: flex;
  gap: 19px;
}

.image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 1px solid #F0F1F1;
}

.oneMore {
  color: #658092;
  font-size: 14px;
  
  @include m {
    font-size: 12px;
  }
}