.btn {
  width: 205px;
  height: 40px;
  padding: 10px 63px 11px 63px;
  background: #E32636;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
    
  &:hover {
    background: #c31a24;    
  }
  &:active {
    background: #b21820;
  }
  
  &:disabled {
    background: #AAB7BF;
    cursor: unset;
  }
}