@import "@/assets/styles/mixins";

.contentWrapper {
  padding: 16px 10px 16px 14px;

  @include t {
    position: static;
    background: transparent;
    padding: 0;
    border: none;
    padding-bottom: 10px;
  }
}

.content {
  padding-right: 12px;

  @include t {
    padding-right: 0;
  }

  @include m {
    padding-right: 0;
    //padding-inline: 16px;
  }
}
