@import '@/assets/styles/mixins';

.descTitle {
  margin-top: 15px;
  color: #3E5067;
  font-weight: 600;
  font-size: 19px;

  @include xs {
    font-size: 18px;
  }
}

.descWrapper {
  
  @include xs {
    max-width: calc(100vw - 32px);
    overflow-x: hidden;
  }  
}