@import '@/assets/styles/mixins';

.tags {
  display: flex;
  column-gap: 10px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.tag {
  color: #565C68;
  font-size: 12px;
  background: #F0F1F5;
  padding: 3px 8px;
  border-radius: 5px;
  flex-shrink: 0;

  @include t {
    font-size: 10px;
  }

  @include m {
    font-size: 12px;
  }
}