@import "@/assets/styles/mixins";

.leftRowWrapper {
  border-bottom: 1px solid #F0F1F1;
  
  &:last-child {
    border-bottom: none;
  }
}

.leftRow {
  height: 74px;
  display: flex;
  padding: 10px;
  width: 218px;
  
}

.photoAndCheck {
  width: 93px;
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.rightPartOfLeftColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.unitedBlock {
  display:  flex;
  cursor: pointer;
  align-items: center;
  gap: 1px;
  color: #658092;
  font-size: 12px;
  user-select: none;
}

.unitedText {
  white-space: nowrap;
}

.check {
  width: 13px;
  height: 13px;
  border: 1px solid #D1D5DB;
  cursor: pointer;
  background-color: white;
}

.checkedSvg {
  cursor: pointer;
  width: 13px;
  height: 13px;
  object-fit: contain;
}

.photo {
  width: 50px;
  height: 50px;
  object-position: center;
  object-fit: contain;
}

.collapseIcon {
  width: 14px;
  height: 14px;
  position: relative;
  top: -1px;
}

.collapseIconReversed {
  width: 14px;
  height: 14px;
  position: relative;
  top: -1px;
  transform: rotate(180deg);
}

.hovered {
  background: #F9FAFB;
  border-right: #D1D5DB 1px solid;
}