@import "@/assets/styles/mixins";



.userDropdownWrapper {
  position: relative;
  background: white;
  z-index: 10;
}

.dropdown {
  padding-inline: 16px;
  background: white;
  width: 100%;
  position: fixed;
  left: 0;
  top: 60px;
  padding-bottom: 8px;
  padding-top: 6px;
}

.underlay {
  position: fixed;
  inset: 0;
  top: 56px;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0, .2);
}

.dropWrapper {
  position: absolute;
  top: 30px;
  padding-top: 32px;
}
