@import "@/assets/styles/mixins";

.userDropdownWrapper {
  position: relative;
  background: transparent;
  z-index: 10;
}

.dropdown {
  width: 100%;
  position: fixed;
  left: 0;
  top: 72px;

  height: calc(100vh - 72px);
  overflow-y: auto;
  border-top: 1px solid #E8EAED;
  background-color: #fff;
  padding-bottom: 76px;
  padding-inline: 16px;
}




.hamburgerBtn {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
}

.menuTitle {
  font-weight: 500;
  font-size: 22px;
  color: #0F1822;
  padding-block: 12px;
}

