.wrapper {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #F9F9FB;  
}

.slider {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
 
}


.closeBtn {
  position: absolute;
  top: 20px;
  right: 29px;
  width: 30px;
  height: 30px;

  &:hover {
    transform: scale(1.05);
    transition: all .3s ease-out;
  }
}
