.returnBack {
  padding: 8px 14px 16px;
  cursor: pointer;
  display: flex;
  gap: 14px;
  align-items: center;
  
  color: #131D2A;
  font-size: 16px;
  font-weight: 600;
}

.mainWrapper {
  width: 100%;
}