@import "@/assets/styles/mixins";

.card {
  border-bottom: 1px solid #E7E9ED;
  min-height: 62px;
  display: flex;
  gap: 16px;
  padding: 12px 16px;

  @include t {
    min-height: 75px;
  }

  @include m {
    flex-direction: column;
    padding: 12px;
    border: 1px solid #DFE2E7;
    border-radius: 4px;
    background: #F6F7F9;
    min-height: 162px;
    margin-right: 12px;
  }
}

.lastCard {
  border-bottom: none;

  @include m {
    border-bottom: 1px solid #DFE2E7;
  }
}

.leftBlock {
  width: 31%;
  display: flex;
  gap: 8px;

  @include t {
    width: 52%;
  }

  @include m {
    gap: 6px;
    width: 100%;
  }
}

.middleBlock {
  width: 28%;
  display: flex;
  gap: 16px;

  @include t {
    width: 42.5%;
  }

  @include m {
    width: 100%;
    justify-content: space-between;
  }
}

.rightBlock {
  width: 39%;
  display: flex;
  gap: 16px;

  @include t {
    width: 3.5%;
    margin-left: auto;
  }

  @include m {
    width: 100%;
  }
}

.clientCell {
  width: 53%;
}

.statusCell {
  width: 40%;
}


.lastMessageCell {
  width: 52%;

  @include t {
    display: none;
  }

  @include m {
    display: flex;
  }
}

.dateCell {
  width: 39%;


  @include t {
    display: none;
  }

  @include m {
    display: flex;
  }
}

.img {
  width: 46px;
  height: 38px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;

  @include m {
    height: 46px;
  }
}

.imgWithBorder {
  border: 1px solid #DFE2E7;
}

.descBlock {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* максимум 2 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1F232B;
  font-size: 13px;
  font-weight: 600;
  width: 90%;
}

.geoCat {
  display: flex;
  gap: 6px;
  align-items: center;
}

.city {
  color: #9AA1AC;
  font-size: 12px;
}

.cats {
  display: flex;
  gap: 4px;
}

.cat {
  display: flex;
  color: #3A3F49;
  font-size: 10px;
  padding-inline: 8px;
  height: 16px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #E4E6EA;
}
