@import "@/assets/styles/mixins";

.tag {
  height: 28px;
  border-radius: 8px;
  border: 1px solid #E0E3E8;
  padding: 6px 12px;
  text-wrap: nowrap;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: #3D4A66;
      border: 1px solid #3D4A66;
      color: #fff;
    }
  }
}

.tagActive {
  background-color: #3D4A66;
  border: 1px solid #3D4A66;
  color: #fff;
  display: flex;
  gap: 4px;
  align-items: center;
}

.name {
  display: inline-block;
  max-width: calc(100vw - 140px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  flex: 1;
}