@import '@/assets/styles/mixins';

.title {
  margin-top: 15px;
  color: #3E5067;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 18px;

  @include xs {
    font-size: 18px;
  }
}

.inputsWrapper {
  display: flex;
  gap: 2px;

  @include xs {
    flex-direction: column;
    gap: 8px;
  }
}

.errorMessage {
  margin-top: 3px;
  color: #E32636;
  font-size: 12px;
}

.inputWrapper {
  width: 100%;
}

.dimensionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}