@import "@/assets/styles/mixins";

.header {
  background: white;
  position: relative;
}

.wrapper {
  padding-bottom: 16px;
  padding-top: 18px;
  display: flex;
  align-items: center;
  //padding-right: 20px;
  
  @include t {
    padding-right: 0;
  }
}

.loginWrapper {
  display: flex;
  gap: 30px;
  align-items: center;

  @include m {
    gap: 12px;
    margin-left: 14px;
    font-size: 14px;
  }
}

.loginBtn {
  border: #3fb8af solid 1px;
  border-radius: 8px;
  padding: 10px;

  &:hover {
    background: #ebf7f7;
  }

  &:active {
    background: #d8f0ef;
  }
}

.fav {
  font-size: 16px;
  display: flex;
  gap: 5px;
  color: inherit;

  @include m {
    font-size: 12px;
    margin-left: 10px;
  }
}

.logo {
  @include m {
    width: 51px;
  }
}

.logoLink {
  margin-right: 62px;
  display: flex;
  align-items: center;

  @include t {
    margin-right: 30px;
  }
}

.catalogBtn {
  width: 130px !important;
  height: 40px !important;
  margin-right: 24px;
  padding: 10px 63px 11px 63px;
  background: #E32636;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
  border-radius: 2px;

  @include m {
    display: none;
  }
  
  &:hover {
    background: #c31a24;
  }

  &:active {
    background: #b21820;
  }

  &:disabled {
    background: #AAB7BF;
    cursor: unset;
  }
}

.catalogBtnIcon {
  margin-right: 10px;
}

.userMenu {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: center;  
  
  @include m {
    display: none;
  }
}

.menuItemImgWrapper {
  display: inline-flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.menuItemBadge {
  position: absolute;
  top: 0;
  right: -8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #E32636;
  color: white;
  font-family: "Exo 2";
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItemLabel {
  color: #658092;
  font-size: 12px;
  transition: color .3s ease-in-out;
}

.menuItemLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;

  &:hover {
    .menuItemLabel {
      color: #000;
      
      @include t {
        color: #658092;
      }      
    }  
  }
}

.userBtn {
  width: 36px;
}

.cartBtnOnMobile {
  display: none;

  @include m {
    display: block;
    margin-left: auto;
  }
}

.mobileMenuBtn {
  display: none;

  @include m {
    display: block;
    margin-right: 17px;
  }
}

.topHeaderPart {
  background: #3E5067;
  height: 36px;
  width: 100%;
}

.LkHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.02);
}


