@import "@/assets/styles/mixins";

.header {
  background: white;
}

.wrapper {
  padding-top: 16px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginWrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  
  @include m {
    gap: 12px;
    margin-left: 14px;
    font-size: 14px;
  }
}

.loginBtn {
  border: #3fb8af solid 1px;
  border-radius: 8px;
  padding: 10px;
  
  &:hover {
    background: #ebf7f7;
  }

  &:active {
    background: #d8f0ef;
  }
}

.fav {
  font-size:16px ;
  display: flex;
  gap: 5px;
  color: inherit;
  
  @include m {
    font-size:12px ;
    margin-left: 10px;  
  }  
}

.logo {
  @include m {
    width: 51px;
    
  }
}