@import '@/assets/styles/mixins';

.searchInput {
  border: #F0F1F1 solid 1px;
  outline: none;
  padding: 10px 15px;
  color: #658092;
  width: 100%;
  font-size: 14px;

  &::placeholder {
    font-size: 12px;
    font-weight: 500;
  }

  @include m {
    background: #F9FAFB;
  }
}

.searchInputWrapper {
  position: relative;
  width: 400px;
  height: 40px;

  @include m {
    width: 100%;

  }
}

.searchIconWrapper {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}