@import "@/assets/styles/mixins";

.dropdownBtnWrapper {
  position: relative;
}

.yearDropdown {
  right: 0;
  box-shadow: 0 2px 8px 0 #E8EAED;
  background: #fff;
  border-radius: 4px;
  position: fixed;
  top: 252px;
  width: 115px;

  @include m {
    top: 170px;
    width: 92px;
  }
}

.yearItem {
  text-wrap: nowrap;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  height: 38px;
  padding: 10px;

  @media (hover: hover) {
    &:hover {
      background: #FBFBFC;
    }
  }
}

.yearFilter {
  gap: 12px;
  margin-left: 18px;
  color: #3D4A66 !important;
  font-size: 13px !important;
  text-wrap: nowrap;

  @include m {
    font-size: 11px !important;
    margin-left: 6px;
  }
}

.tab {
  user-select: none;
  flex-shrink: 0;
  border: 1px solid #DFE2E7;
  height: 38px;
  border-radius: 4px;
  padding: 11px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  padding-inline: 14px;
  color: #565C68;
  font-size: 12px;
  font-weight: 500;

  @include m {
    gap: 4px;
    padding-inline: 10px;
    height: 24px;
    border-radius: 16px;
    font-size: 11px;
  }
}

.tabActive {
  background-color: #ECEFF5;
  color: #3D4A66;
  font-weight: 600;
  font-size: 13px;

  @include m {
    font-size: 11px;
  }
}

.count {
  background-color: #EEF0F3;
  border-radius: 50px;
  height: 16px;
  min-width: 20px;
  padding-inline: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8A8F98;
  font-size: 10px;
  font-weight: 600;
}

.countActive {
  background-color: #3D4A66;
  color: white;
}

.yearItemActive {
  background: #ECEFF5;

  &:hover {
    background: #ECEFF5;
  }
}

.yearItemText {
  color: #3D4A66;
  font-size: 13px;
  font-weight: 500;
}