@import '@/assets/styles/mixins';

.globalWrapper {
  display: none;
  
  @include m {
    display: block;
  }
}

.buttonBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #131D2A;
}

.list {
  font-size: 12px;
}

.submitBtn {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
}