@import "@/assets/styles/mixins";

.group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.catName {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #9AA1AC;
}

.tagsInGroups {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}