@import '@/assets/styles/mixins';

.text {color: rgb(101, 128, 146);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 15px;
  
  @include m {
    font-size: 12px;
  }
}

.readFull {
  color: rgb(0, 147, 253);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration-line: underline;
  display: flex;
  gap: 15px;
  align-items: center;

  @include m {
    font-size: 12px;
    
  }
}

.wrapper {
  padding-bottom: 20px;
  
  @include m {
    margin-bottom: 0;
    padding-bottom: 6px;
  }
}

.textBlock {
  margin-bottom: 20px;
}

.img {
  max-width: 100%;
  margin-top: 25px;
}