@import "@/assets/styles/mixins";

.requestButtons {
  background: #F6F7F9;
  border: 1px solid #E8EAED;
  border-radius: 8px;
  padding: 14px;

  @include m {
    border: none;
    border-radius: 0;
    border-top: 1px solid #E8EAED;
    padding-top: 12px;
    padding-bottom: 16px;
    margin-top: 14px;
    padding-inline: 0;
    position: fixed;
    bottom: 56px;
    left: 14px;
    right: 14px;
    background: #fff;
  }
}

.blackBtn {
  border-radius: 8px!important;
  height: 36px!important;
  width: 100%!important;
  gap: 8px;

  @include m {
    max-width: 300px;
  }

  @include xs {
    max-width: unset;
  }
}

.secondaryActions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

  @include m {
    display: none;
  }
}

.whiteBtn {
  border-radius: 8px!important;
  height: 36px!important;
  width: 100%!important;
  gap: 8px;
  color: #3A3F49;
}

.title {
  color: #16181D;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 14px;

  @include m {
    display: none;
  }
}

.myStatus {
  background: #ECEFF5;
  height: 23px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding-inline: 12px;
  color: #3D4A66;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 14px;

  @include m {
    display: none;
  }
}