@import "@/assets/styles/mixins";

.chatWrapper {
  border: 1px solid #F9FAFB;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh) * 100 - 138px);

  @include t {
    height: calc(var(--vh) * 100 - 158px);
  }

  @include m {
    height: calc(var(--vh) * 100 - 54px);
  }
}

.bottomPart {
  background: #fff;
}


.inputBlock {
  flex: 1;
  position: relative;
}

.sendingPart {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  padding: 20px 16px;

  @include m {
    padding: 16px;
    gap: 8px;
  }
}

.pinBtn {
  background: #F9F9FB;
  border: 1px solid #E8EAED;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-out;

  @media (hover: hover) {
    &:hover {
      transition: all .2s ease-out;
      border: 1px solid #d8d8db;
    }
  }
}

.chatContainer {
  position: relative;
  margin-top: auto;
  overflow-anchor: none;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge старый */

  &::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}

.scrollDownBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -80px;
  right: 0;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #9CA3AF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  @include m {
    top: -70px;
  }
}


.wrapperForFiles {
  position: relative;
  border: 1px solid red;
}