@import '@/assets/styles/mixins';

.detailedInfo {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: span 2;
  margin-top: 16px;
  
  @include t {
    margin-top: 0px;
  }

  @include m {
    order: 4;
  }
}