.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px;  
  border-top: 1px #F0F1F1 solid;
  border-bottom: 1px #F0F1F1 solid;  
  border-top: 1px #EDEEEE solid;
  border-bottom: 1px #EDEEEE solid;     
}

.title {
  color: rgb(19, 29, 42);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;  
}