.userDropdownBtn {
  height: 44px;
  width: 210px;
  border-radius: 8px;
  padding: 5px 6px;
  gap: 8px;
  display: flex;
  align-items: center;

  @media (hover: hover) {
    &:hover {
      outline: #E0E3E8 1px solid;
      background: #F6F7F9;
    }
  }
}

.userDropdownBtnClicked {
  outline: #E0E3E8 1px solid;
  background: #F6F7F9;
}

.userDropdownWrapper {
  position: relative;
  background: white;
  z-index: 10;
  height: 44px;
  width: 210px;
}

.dropdown {
  width: 324px;
}

.letterInDropdown {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3E5067;
  border-radius: 50%;
}

.userName {
  color: #131D2A;
  font-weight: 600;
  font-size: 16px;
  flex: 1;
}

.dropdownMenu {
  margin-top: 15px;
  padding-left: 76px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.companiesLink {
  cursor: pointer;
  padding-left: 76px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #131D2A !important;
  display: block;
}

.logoutBtn {
  padding-left: 76px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #131D2A;
  margin-bottom: 30px;
}

.dropdownLink {
  color: #131D2A;
  font-size: 14px;
  font-weight: 500;

  @media (hover: hover) {
    &:hover {
      color: black;
    }
  }

  &:active {
    color: black;
  }
}

.dropWrapper {
  position: absolute;
  right: 0;
  top: 54px;
  box-shadow: 0 2px 8px 0 #E8EAED;
  border-radius: 18px;
  background: #fff;
  padding-bottom: 14px;
}

.roundLetter {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3E5067;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

.btnText {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}

.btnName {
  color: #1F232B;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnInn {
  color: #9AA1AC;
  font-size: 11px;
  font-weight: 500;
}

.personalProfileLabel {
  color: #9AA1AC;
  font-size: 11px;
  font-weight: 500;
}

.btnArrow {
  margin-left: auto;
}

.activeProfile {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid #E8EAED;
}

.subtitle {
  padding-inline: 20px;
  color: #9AA1AC;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitleCompanies {
  margin-bottom: 12px;
}

.personalProfile {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid #E8EAED;
  padding-bottom: 14px;
}

.personalProfileName {
  color: #1F232B;
  font-weight: 500;
  font-size: 13px;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.companiesProfile {
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
  border-bottom: 1px solid #E8EAED;
}

.profileBlockActive {
  cursor: unset !important;
  padding-top: 0 !important;

  &:hover {
    background: white !important;
  }
}

.profileBlock {
  position: relative;
  margin-inline: 6px;
  padding-inline: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-block: 12px;
  border-radius: 8px;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background: #FBFBFC;
    }
  }
}

.companiesNumber {
  background: #F1F3F5;
  border-radius: 50%;
  height: 19px;
  width: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8A8F98;
  font-weight: bold;
}

.activeItem {
  background: #ECEFF5;

  @media (hover: hover) {
    &:hover {
      background: #ECEFF5 !important;
    }
  }
}

.activeProfileIcon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.menuItemButton {
  margin-inline: 10px;
  padding: 11px 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #3A3F49;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: black;
    }
  }
}

.bottomItems {
  margin-top: 10px;
}
