@import "@/assets/styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.switchOuter {
  width: 44px;
  height: 25px;
  border-radius: 23px;
  background: #F0F1F1;
  padding: 2px;
  transition: all .1s linear;

  @include m {
    width: 38px;
    height: 20px;
  }  
}

.switchOuterChecked {
  width: 44px;
  height: 25px;
  border-radius: 23px;
  background: #E32636;
  padding: 2px;
  text-align: right;
  transition: all .1s linear;
  
  @include m {
    width: 38px;
    height: 20px;
  }
}

.inner {
  width: 21px;
  height: 21px;
  border-radius: 23px;
  background: white;  
  transition: all .1s linear;

  @include m {
    width: 18px;
    height: 16px;
  }  
}

.innerChecked {
  width: 21px;
  height: 21px;
  border-radius: 23px;
  background: white;  
  transform: translateX(19px);    
  transition: all .1s linear;

  @include m {
    transform: translateX(16px);
    width: 18px;
    height: 16px;
  }
}

.text {
  font-size: 13px;
  font-weight: 500;
  color: #658092;
}