@import '@/assets/styles/mixins';

.wrapper {
  width: 100%;
  position: relative;  
}

.rightPartBlock {  
  z-index: 1;
  position: absolute;
  right: 18px;
  right: 18px;
  top: 50%;  
  transform: translateY(-50%);  
  display: flex;
  gap: 5px;
  align-self: center;
}

.notEditing {
  height: 44px;
  border: #F0F1F1 1px solid;
  background: white;
  padding: 12px 24px 12px 20px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.requiredStar {
  color: red;
  margin-left: 2px;  
}

.empty {  
  color: #658092;  
  font-size: 14px;
}

.input {
  height: 44px;
  border: #F0F1F1 1px solid;
  background: white;
  width: 100%;
  padding: 12px 20px;
  color: #658092;
  font-size: 15px;
  font-weight: 500;
  
  &:focus {
    outline: #D1DCE8 1px solid;
  }
}

.errorInput {
  border: 1px solid #E32636;
  background: #FFDEE1;
}

.inputValue {
  color: #658092;
  font-size: 14px;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
}

.clearBtn {
  position: absolute;
  right: 16px;
  top: 52%;
  transform: translateY(-50%);

  @include m {
    top: 55%;
    right: 8px;
  }
}

.clearBtnInfo {
  position: absolute;
  right: 40px;
  top: 52%;
  transform: translateY(-50%);
  
  @include m {
    top: 55%;
  }
}