@import '@/assets/styles/mixins';

.sortList {
  display: flex;
  gap: 20px;
  padding-bottom: 16px;
  border-bottom: #F0F1F1 1px solid;
  
  @include m {
    padding: 16px;
    background: white;
    border-bottom: none;
    position: relative;
    
    &:after {
      content: '';
      position: absolute;
      background: #F0F1F1;
      left: 16px;
      right: 16px;
      bottom: 0;
      height: 1px;
    }
  }
}

.sortItem {
  font-weight: 500;
  font-size: 14px;
  color: #658092;
  cursor: pointer;
  
  &:hover {
    color: black;    
  }
}
.activeSortItem {
  font-weight: 500;
  font-size: 14px;
  color: #131D2A;
  cursor: pointer;
}