@import '@/assets/styles/mixins';

.productsWrapper {  
  width: 1120px;
  margin-top: -20px;
}

.verticalViewCardWrapper {
  margin-top: 0;
  display: grid;
  gap: 20px;
  flex-wrap: wrap;
  width: 1120px;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  
  @include t {
    width: 698px;
    row-gap: 22px;
    column-gap: 22px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  @include m {
    display: flex;
    display: grid;
    width: 100%;    
    
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
    justify-content: center;
  }
  
  @media (max-width: 536px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }
}

.sortAndView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 15px;
  border-bottom: 1px #F0F1F1 solid;

  @include t {
    margin-bottom: 24px;
  }

  @include m {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
