@import '@/assets/styles/mixins';

.checkout {
  //width: 301px;
  width: 100%;
  background: white;
  padding: 20px;  
  border: #F0F1F1 1px solid;
}

.title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.productsRow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #3E5067;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: #F0F1F1 solid 1px;
}

.products {
  font-size: 14px;
}

.totalBigPrice {
  font-size: 16px;
}

.savings {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 24px;
  border-bottom: #F0F1F1 1px solid;
  color: #3E5067;
  font-size: 12px;
}

.savingsNumber {
  font-size: 14px;
  font-weight: 500;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
  border-bottom: #F0F1F1 solid 1px;
  margin-bottom: 24px;

  @include t {
    padding-block: 10px;
    width: 260px;
    margin-bottom: 0;
  }
  
  @include m {
    width: 100%;
  }
}

.totalLabel {
  font-size: 16px;
  font-weight: 600;
}

.totalNumber {
  font-size: 24px;
  font-weight: 500;
}

.promocode {
  width: 100%;
  background: #F4F4F6;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 12px 15px;
  font-size: 14px;
  margin-bottom: 24px;

  @include t {
    width: unset;
    margin-bottom: 0;
  }

  @include m {
    margin-bottom: 16px;
  }

  @include m {
    margin-bottom: 16px;
    width: 100%;
  }

  &::placeholder {
    font-size: 12px;
    font-weight: 500;
  }
}

.btn {
  width: 100%;
  height: 44px;

  @include t {
    width: unset;
  }

  @include m {
    width: 100%;
  }
}

.bottomPart {
  @include t {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  @include m {
    display: block;
  }
}

.topPart {

  @include t {
    width: 261px;
  }

  @include m {
    width: 100%;
  }
}

.noProductsMessage {

  margin-bottom: 20px;
  color: #3E5067;
  font-size: 14px;
  line-height: 1.4;
  
  @include t {
    width: 261px;
  }

  @include m {
    line-height: 1.3;
    margin-bottom: 14px;
    width: 100%;
  }
}

.miniCheckout {
  position: fixed;
  align-items: flex-end;
  bottom: 56px;
  left: 0;
  right: 0;
  height: 45px;
  background: white;
  border-top: #F0F1F1 solid 1px;
  padding: 5px 20px;
  display: flex;
  gap: 12px;
  justify-content: space-between;  
}

.miniCheckoutSavings {
  color: #3E5067;
  margin-bottom: 5px;
  min-width: 118px;
  
}

.miniCheckoutSavingLabel {
  font-size: 10px;
  margin-right: 5px;
}

.miniCheckoutSavingValue {
  font-size: 12px;
  font-weight: 500;
}

.miniCheckoutSavingSummary {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.miniCheckoutBtn {
  width: 190px;
  height: 30px;
  font-size: 12px;
  font-weight: 500;
}