@import "@/assets/styles/mixins";


.orderLineProductCardWrapper {
  padding: 17px 24px;
  display: flex;
  border: 1px solid #F0F1F1;
  display: flex;
  align-items: center;
  background: white;
  cursor: pointer;
}

.productImg {
  width: 70px;
  height: 70px;
  object-fit: contain;
  object-position: center;
  margin-right: 15px;
}

.productName {
  color: #131D2A;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 9px;
}

.sellerName {
  color: #131D2A;
  font-size: 14px;  
  
  @include t {
    font-size: 12px;
  }
}

.sellerLabel {
  color: #658092;
  font-size: 14px;

  @include t {
    font-size: 12px;
  }
}

.priceBlock {
  margin-left: auto;
}


.price {
  color: #09213D;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  
  @include m {
    font-size: 16px;
  }
}

.reviewLink {
  font-size: 12px;
  color: #658092;
  
  &:hover {
    color: #131D2A;
  }
}


