@import '@/assets/styles/mixins';

.searchInputWrapperDesktop {
  position: relative;
  width: 670px;
  margin-right: 25px;
  
  @include t {
    width: 458px;
  }

  @include m {
    width: 100%;
    display: none;
  }
}

.searchInput {
  border: #F0F1F1 solid 1px;
  outline: none;
  padding: 10px 15px;
  color: #000;
  width: 100%;
  font-size: 14px;


  &::placeholder {
    font-size: 14px;
  }
}


.searchIconWrapper {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
