@import "@/assets/styles/mixins";

.mobilePageWrapper {
  margin-top: 60px;
}

.mobileHeader {
  padding: 12px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  height: 60px;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #1F232B;
  border-bottom: 1px solid #E8EAED;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.subtitle {
  color: #9AA1AC;
  min-height: 14px;
  font-size: 11px;
}

.underHeaderContentWrapper {
  padding: 10px 14px;
}

.tabs {
  background-color: #F1F3F5;
  border-radius: 8px;
  gap: 4px;
  display: flex;
  padding: 4px;
  margin-bottom: 14px;
}

.tab {
  height: 27px;
  display: flex;
  border-radius: 6px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #8A8F98;
  align-items: center;
  justify-content: center;

}

.tabActive {
  background-color: #fff;
  color: #1F232B;
  font-weight: 600;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.btnWrapper {
  position: relative;
  margin-left: auto;
}

.menuButton {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  border: #E8EAEE 1px solid;
  background: #fff;
  color: #9CA3AF;

}
