.dropFilesArea {
  position: absolute;
  z-index: 2;
  inset: 20px;
  //top: 210px;
  //left: 650px;
  //right: 330px;
  //bottom: 110px;
  background: #ECEFF5;
  border: 1px dashed #3D4A66;
  border-radius: 16px;
}