.answer {
  margin-left: 30px;
  border-left: #E1E1E1 3px solid;
  padding-left: 20px;  
}

.answerHeader {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}

.name {
  margin-right: 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  
}
.date {
  margin-left: auto;
  color: rgb(101, 128, 146);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.text {
  color: rgb(101, 128, 146);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 24px;
}