@import '@/assets/styles/mixins';

.reviewWrapper {
  padding: 17px 11px 30px 11px;
  border-bottom: #E1E1E1 1px solid;
  
  @include m {
    background: white;
  }
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  
  @include m {
    align-items: flex-start;
    line-height: unset;
    font-size: 16px;    
    justify-content: space-between;
  }
}


.reviewerName {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  
  @include m {
    position: relative;
    top: -4px;
  }
}

.rightHeaderPart {
  display:  flex;
  gap: 18px;
  align-items: center;
}

.reviewDate {
  color: rgb(101, 128, 146);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.subtitle {
  margin-bottom: 6px;
  color: rgb(62, 80, 103);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;  
}

.text {
  color: rgb(101, 128, 146);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 15px;
}


.collapsableText {
  color: rgb(101, 128, 146);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 6px;
}