@import '@/assets/styles/mixins';

.content {
  padding-left: 20px;
  padding-right: 4px;
  padding-bottom: 2px;
  color: #131D2A;
  font-size: 14px;
  max-height: 472px;
  overflow-y: scroll;
  width: 97.5%;
  margin-bottom: 20px;
  user-select: none;
}


.catsDropdown {
  padding-top: 10px;
  background: white;
  margin-top: 5px;
  box-shadow: 0 4px 16px rgb(0 0 0/.2);
}

.dropdownFooter {
  background: #EAEAEA;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
}

.footerLeft {
  width: 280px;
}

.btn {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}


