@import "@/assets/styles/mixins";

.pictureMedia {
  height: 50%;
}

.header {
  padding-top: 15px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  color: #9AA1AC;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.downloadAllBtn {
  color: #3D4A66;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.pictureList {
  height: calc(100% - 40px);
  padding-bottom: 14px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  gap: 4px;
}


