@import '@/assets/styles/mixins';

.requestCard {
  width: 346px;
  height: 300px;
  border: 1px solid #D1D5DB;
  padding: 16px;

  @include t {
    width: 310px;
    height: 270px;
  }

  @include m {
    max-width: 400px;
    width: 100%;
    height: 300px;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @include t {
    margin-bottom: 12px;
  }

  @include m {
    margin-bottom: 20px;
  }
}

.cardHeader {
}

.requestStatus {
  margin-right: auto;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;

  @include t {
    font-size: 10px;
  }

  @include m {
    font-size: 12px;
  }
}

.requestNumber {
  font-weight: 500;
  font-size: 14px;
  margin-right: 20px;

  @include t {
    font-size: 12px;
  }

  @include m {
    font-size: 14px;
  }
}