@import "@/assets/styles/mixins";

.allOrdersWrapper {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.mainPart {  
  width: 850px;
  
  @include t {
    width: 100%;
  } 
}

.mobileNavigateToSort {
  display: none;
  
  @include m {
    border-top: 1px solid #F0F1F1;
    display: block;
    width: 100%;
    padding: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: #292D32;
    font-size: 14px;
    font-weight: 500;
  }
}

.arrow {
  margin-left: auto;
}

.mobileSorting {
  width: 100%;
  position: relative;
  top: -76px;
}

.mobileHidden {
  @include m {
    display: none;
  }
}

.notVisible {
  visibility: hidden;
  height: 0;
}

