@import "@/assets/styles/mixins";

.allOrdersTabWrapper {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.mainPart {
  height: 500px;
  width: 850px;
  
  @include t {
    width: 100%;
  }
}

