@import "@/assets/styles/mixins";

.companyBalance {
  border: #F0F1F1 1px solid;
  background: white;
  padding: 24px;
  min-width: 275px;

  @include t {
    padding: 20px;
    min-width: 215px;
  }

  @include m {
    width: 100%;
    min-width:  unset;
  }
}

.title {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
  
  @include t {
    font-size: 16px;
    margin-bottom: 26px;
  }
}

.rubBalance {
  color: #131D2A;
  font-weight: 600;
  font-size: 28px;
  
  @include t {
    font-size: 18px;
  }
}

.dollarBalance {
  line-height: 140%;
  color: #658092;
  font-weight: 600;
  font-size: 18px;
  
  @include t {
    font-size: 18px;
  }
}

.text {
  margin-bottom: 24px;
  
  @include t {
    margin-bottom: 16px;
  }

  @include m {
    margin-bottom: 0;    
  }
}

.wrapper {
  @include m {
    display: flex;
    gap: 20px;    
    align-items: center;
  }  
}

.btn {
  font-size: 16px;
  width: 100%;
  min-width: 183px;
  max-width: 250px;
  height: 39px;
  
  @include t {
    min-width: unset!important;    
    height: 37px;
    font-size: 14px;  
    padding-inline: 5px!important;
  }  
}