@import "@/assets/styles/mixins";

.companyBalance {
  background: white;
  padding: 24px;
  min-width: 275px;

  @include t {
    padding: 20px;
    min-width: 215px;
  }

  @include m {
    width: 100%;
    min-width:  unset;
  }
}