@import '@/assets/styles/mixins';

.subCategoryWrapper {
  cursor: pointer;
}

.subCatHeader {
  padding-left: 30px;
  display: flex;
  gap: 8px;
  align-items: center;
  min-height: 30px;
  position: relative;
}

.arrowBtn {
  position: relative;
  top: -1px;
  transform: rotate(270deg);
  flex-shrink: 0;
}

.arrowBtnOpened {
  position: relative;
  top: -1px;
  flex-shrink: 0;
}

.outerWrapper {
  display:  flex;
  position: relative;
}

.verticalLine {
  background: #AAB7BF;
  width: 1px;
  position: relative;
  top: -6px;
  left: 38px;
}


.verticalLineEraser {
  width: 1px;
  background: white;
  
  position: absolute;  
  left: 13px;
  top: -16px;
  height: 135%;  
}

.horizontalLine {
  position: absolute;
  top: 0;
  left: 14px;
  width: 8px;  
  height: 1px;
  background: #AAB7BF;
  top: 13px;
  width: 8px;
  height: 1px;
}

.verticalTickEraser {
  background: white;  
  width: 1px;
  position: absolute;
  top: 14px;
  left: 13px;
  height: 14px;
}

.list {
  width: 100%;
}