@import '@/assets/styles/mixins';

.badgeContainer {
  top: 17px;
  left: 15px;
  bottom: 15px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  pointer-events: none;
  z-index: 1;
  
  @include m {
    top: 10px;
    left: 10px;
    bottom: 10px;
  }
}

.badgeInnerContainer {
  display: flex;
  flex-direction: column;
  gap:3px;
  align-items: flex-start;
}