@import "@/assets/styles/mixins";

.detailsWrapper {
  padding-right: 12px;
  padding-bottom: 16px;
}

.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.heading {
  color: #3E5067;
  font-size: 16px;
  font-weight: 600;
}

.hideBtn {
  margin-left: 16px;
  height: 24px;
  width: 24px;
}

.hideBtnWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.tooltip {
  position: absolute;
  bottom: -32px;
  right: 0px;
  background: #253246;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
}

.requestStatus {
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;

  @include t {
    font-size: 10px;
  }

  @include m {
    font-size: 12px;
  }
}

.menuBtn {
  width: 24px;
  height: 24px;
  justify-content: center;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.imageAndTitleBlock {
  display:  flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 16px;
}

.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  float: left;
  margin-right: 16px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #3E5067;
  margin-bottom: 12px;
}

.datesBlock {
  display: flex;
  color: #131D2A;
  font-size: 12px;
  margin-bottom: 12px;
}

.activeTo {
  padding-right: 10px;
  border-right: #D1D5DB 1px solid;
  margin-right: 10px;
}

.responses {
  color: #3E5067;
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
  flex-shrink: 0;
  padding-left: 24px;


  button {
    height: 20px;
  }

  @media (max-width: 1440px) {
    display: none;
  }
}

.responsesTablet {

  display: none;

  @media(max-width: 1440px) {
    color: #3E5067;
    font-size: 14px;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
    flex-shrink: 0;

    button {
      height: 20px;
    }
  }
}

.desc {
  width: 340px;
  font-size: 14px;
  color: #131D2A;
}

.descCropped {
  width: 340px;
  font-size: 14px;
  color: #131D2A;

  display: -webkit-box;
  -webkit-line-clamp: 16;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrapperForTitleAndStatus {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}

.showAllBtn {
  color: #0093FD;
  border-bottom: 1px solid #0093FD;
  cursor: pointer;
  margin-top: 8px;
  font-size: 12px;
}

.descBlock {
  margin-bottom: 16px;
}

.tagsWrapper {
  width: 341px;
}

.headerLeftPart {
  flex-shrink: 0;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 16px;
  border-right: 1px solid #D1D5DB;

  @media (max-width: 1440px) {
    border: none;
    padding-right: 0;
  }
}

.dates {
  font-size: 12px;
  color: #131D2A;
  display: flex;
}

.topLeftHeaderBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}

.descWrapper {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #131D2A;
  font-size: 14px;
}

