.tag {
  height: 23px;
  background: #F1F3F5;
  border-radius: 8px;
  padding-inline: 8px;
  color: #565C68;
  font-size: 12px;
  font-weight: 500;
  text-wrap: nowrap;
  align-items: center;
  display:  flex;
}