.logo {
  margin: 0 auto 70px;
}

.title {
  color: #131D2A;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 2px;
  line-height: 140%;
}

.text {
  color: #9AA1AC;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 140%;
}

.input {
  background: #F9FAFB;
  width: 100%;
  border: 1px solid #F0F1F1;
  border-radius: 8px;
  height: 48px;
  padding: 13px 17px 14px 15px;
  margin-bottom: 14px;
  font-size: 15px;
  transition: border .1s ease-in-out;
  letter-spacing: 2px;

  &::placeholder {
    color: #9AA1AC;
    font-size: 15px;
  }

  &:focus {
    outline: #d9dfe2 1px solid;
  }
}

.btn {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  width: 100%!important;
  margin: 0 auto;
  background: #1B2233!important;
  border-radius: 8px!important;

  &:disabled {
    background: #EEF0F3!important;
    color: #A9AEB7;
  }
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 30px;
}

.redBorder {
  border: 1px solid #E32636!important;
}

.invalidCode {
  color: #E32636;
  text-align: center;
  font-size: 14px;
  margin-bottom: 16px;
}

.timerString {
  text-align: center;
  color: #658092;
  font-size: 16px;
  font-weight: 500;
}

.time {
  display: inline-block;
  min-width: 40px;
  text-align: left;
}

