@import "@/assets/styles/mixins";

.card {
  background: #F9F9FB;
  border: 1px solid #DFE2E7;
  border-radius: 12px;
  padding: 11px 16px;
  display: flex;
  margin-right: 6px;

  @include t {
    margin-right: 0px;
  }

  @include m {
    padding: 12px 14px;
    border-radius: 4px;
    flex-direction: column;
  }
}

.img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
}

.desc {
  margin-right: 10px;
}

.title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;

  @include m {
    font-size: 12px;
  }
}

.requestNumber {
  color: #9AA1AC;
  font-size: 12px;
  text-wrap: nowrap;
  margin-right: 10px;

  @include t {
    margin-left: auto;
  }

  @include m {
    font-size: 11px ;
  }
}

.rightCardPart {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;

  @include t {
    margin-left: 0;
  }

  @include m {
    width: 100%;
  }
}

.btn {
  border-radius: 8px;
  gap: 8px;
  width: 100%;
}

.icon {
  flex-shrink: 0;
}

.topRightBlock {
  display: flex;
  justify-content: space-between;

  @include m {
    margin-bottom: 8px;
    justify-content: flex-start;
    gap: 8px;
  }
}

.requestStatus {
  height: 24px;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 5px;
  color: #565C68;
  font-weight: 600;
  gap: 10px;
}

.views {
  display: flex;
  flex-direction: column;
  gap: 1px;

  @include m {
    flex-direction: row;
    gap: 6px;
  }
}

.viewsRow {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #9AA1AC;
  font-size: 12px;
  font-weight: 500;
  justify-content: flex-end;
}

.photoDescBlock {
  display: flex;
  margin-right: 10px;

  @include t {
    margin-right: auto;
  }

  @include m {
    margin-bottom: 4px;
  }
}

.numberAndStatus {
  display: none;

  @include m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    border-bottom: 1px solid #DBDFE4;
    margin-bottom: 12px;
  }
}