.wrapper {
  margin-bottom: 8px;
  //background: white;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 2px;  
  position: relative;
}

.openBtn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 18px;
  right: 14px;
  width: calc(100% - 30px) ;
  left: 16px;
  text-align: right;
}

.openBtnActive {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 18px;
  right: 14px;  
  width: calc(100% - 30px) ;
  
  img {
    transform: rotate(90deg);
  }
}