@import "@/assets/styles/mixins";

.secondFromTopTabs {
  user-select: none;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 17px;
  white-space: nowrap;

  @include t {
    margin-bottom: 16px;
  }

  @include m {
    margin-bottom: 0;
    padding-inline: 16px;
    background: white;
    padding-block: 10px;
    border-top: #F0F1F1 1px solid;
  }
}

.secondFromTopTab {
  width: 200px;
  height: 36px;
  background: white;
  color: #658092;
  padding: 10px 15px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border: 1px #F0F1F1 solid;



  @include m {
    height: 23px;
    width: auto;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 16px;
  }
}

.activeSecondFromTopTab {
  width: 200px;
  height: 34px;
  background: #AAB7BF;
  color: white;
  padding: 10px 15px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  @include m {
    height: 23px;
    width: auto;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 16px;
    background: #658092;
  }
}