@import 'normalize';
@import 'mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, ul, ol, li {
  margin: 0;
  
}

img {
  display: block;
}

body {
  font-family: Inter, sans-serif;
  background: #F5F5F5;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: inherit;
}



.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  @include t {
    max-width: 920px;
  }

  @include m {
    max-width: unset;
    padding-inline: 16px;
  }
}