@import 'normalize';
@import "@/assets/styles/mixins";

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/inter-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/Inter-Bold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, ul, ol, li {
  margin: 0;
}

img {
  display: block;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));

  @include m {
    margin-right: 0;
  }
}

body {
  font-family: Inter, sans-serif;
  background: #F5F5F5;
  position: relative;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  @include t {
    max-width: 920px;
  }

  @include m {
    max-width: unset;
    padding-inline: 16px;
  }
}

.container-lk, .container-review {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  @include t {
    max-width: 920px;
  }

  @include m {
    max-width: unset;
    //padding-inline: 16px;
  }
}

.containerProductPage {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  @include t {
    max-width: 920px;
  }

  @include m {
    max-width: unset;
    //padding-inline: 16px;
  }
}


.containerCart {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  @include t {
    max-width: 920px;
  }

  @include m {
    max-width: unset;
    //padding-inline: 16px;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.lk-scroll {

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
    scrollbar-color: #AAB7BF #F0F1F1;
  }

  &::-webkit-scrollbar {
    width: 6px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #AAB7BF !important; /* Цвет ползунка */
    border-radius: 3px !important; /* Закругление краев */
  }

  &::-webkit-scrollbar-track {
    background-color: #F0F1F1 !important; /* Цвет трека */
    border-radius: 3px !important; /* Закругление краев */
  }

  &::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}

.lk-scroll-popup {

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
    scrollbar-color: #AAB7BF #F0F1F1;
  }

  &::-webkit-scrollbar {
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #AAB7BF !important; /* Цвет ползунка */
    border-radius: 3px !important; /* Закругление краев */
  }

  &::-webkit-scrollbar-track {
    background-color: #F0F1F1 !important; /* Цвет трека */
    border-radius: 3px !important; /* Закругление краев */
  }

  &::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}

.mobile-hidden {
  @include m {
    display: none;
  }
}