

@mixin xs {
  @media (max-width: 536px) {
    @content;
  }
}

@mixin m {
  @media (max-width: 960px) {
  //@media (max-width: 1000px) {
    @content;
  }
}

@mixin t {
  @media (max-width: 1720px) {
    @content;
  }
}


.container--product {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  @include t {
    max-width: 920px;
  }

  @include m {
    max-width: unset;
    padding-inline: 16px;
  }
}