@import "@/assets/styles/mixins";

.orderLineHeader {
  background: white;
  border: 1px solid #F0F1F1;
}

.quantity {
  font-size: 16px;
  font-weight: 500;
  color: #131D2A;
}

.date {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;  
}

.dateLabel {
  color: #131D2A;
}

.dateValue {
  color: #658092;
}

.deliveryStatus {
  font-size: 16px;
  color: #131D2A;
  font-weight: 500;
  margin-bottom: 2px;
}

.topWrapper {
  padding: 12px 24px;
  border-bottom: #F0F1F1 1px solid;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.bottomWrapper {
  padding: 12px 24px;
  display: flex;
  align-items: center;
}

.rowWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.row {
  display: flex;
  font-size: 14px;
      
  @include t {
    font-size: 12px;
  }
}

.label {
  font-weight: 500;
  color: #3E5067;
  margin-right: 24px;
}

.value {
  color: #658092;
}


.icon {
  width: 48px;
  height: 48px;
  margin-right: 24px;
}

.groupedProducts {
  margin-top: 5px;
}