@import "@/assets/styles/mixins";

.contentMiddleWrapper {
  overflow-x: scroll;
  flex: 1;
  width: 675px;
  
  @include t {
    width: 258px;
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
    scrollbar-color: #AAB7BF #D9D9D9;
  }

  &::-webkit-scrollbar {
    height: 8px !important; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: #AAB7BF !important; /* Цвет ползунка */
  }

  &::-webkit-scrollbar-track {
    background-color: #D9D9D9 !important; /* Цвет трека */
  }

  &::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}



