@import "@/assets/styles/mixins";

.mainMenu {
  background: #1A2332;
  width: 64px;
  height: 100vh;
  color: white;
  padding-inline: 8px;
  gap: 12px;
  display: flex;
  flex-direction: column;

  @include t {
    width: 48px;
    padding-inline: 6px;
  }

  @include m {
    display: none;
  }
}
//
//
//.sideBar {
//  background: #1A2332;
//  width: 64px;
//  height: 100vh;
//  fill: white;
//  position: fixed;
//  top: 134px;
//  bottom: 12px;
//  border-bottom-right-radius: 6px;
//  border-top-right-radius: 6px;
//  z-index: 1;
//  display: flex;
//  flex-direction: column;
//  gap: 12px;
//  padding-block: 6px;
//  padding-inline: 8px;
//
//  @include t {
//    width: 48px;
//  }
//
//
//  @include m {
//    display: none;
//  }
//}

.logoBtn {
  background: #E32636;
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  border-radius: 4px;


  @include t {
    width: 36px;
    height: 36px;
  }
}

.bottomPart {
  margin-top: auto;
  margin-bottom: 16px;
}