.title {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
}

.catItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  padding: 8px 10px;
  border: 1px solid #fff;
  cursor: pointer;
  color: inherit;

  svg {
    position: relative;
    top: 4px;
  }
}

