@import '@/assets/styles/mixins';

.wrapper {
  background: white;
  padding: 26px;
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;

  @include t {    
    width: 216px;
    gap: 10px;
  }

  @include m {
    display: none;
  }
}

.firstCategoryItem {
  color: #658092;
  font-size: 18px;
  display: flex;
  gap: 15px;
  
  &:hover {
    color: #131D2A;
  }
  @include m {
    font-size: 16px;
  }
}

.categoryItem {
  color: #658092;
  font-size: 16px;
  
  &:hover {
    color: #131D2A;
  }
  
  @include t {
    font-size: 14px;
  }
}

.activeItem {
  color: #131D2A;
  font-size: 18px;
  font-weight: 500;

  @include t {
    font-size: 16px;
  }
}

.arrow {
  position: relative;
  top: 1px;
}

.placeholder {
  width: 140px;
  
  @include t {
    width: 98px;
  }
}