.catsMobile {
  margin-top: -16px;
  padding-top: 20px;
  padding-bottom: 26px;
  width: 100%;
  position: relative;  
}

.inside {
  position: absolute;
  width: calc(100% + 32px);
  left: -16px;
  padding-left: 16px;
  top: 0;
  padding-top: 10px;
  padding-bottom: 16px;  
  display: flex;
  overflow: auto;
  padding-right: 16px;
  gap: 4px;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.item {
  height: 100%;
  background: #3fb8af;  
  flex-shrink: 0;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #F0F1F1;
  padding: 5px 10px;
  background: white;
  font-size: 11px;
  color: #000;
}