@import "@/assets/styles/mixins";

.leftSideMenu {
  padding-block: 14px;
  padding-inline: 12px;
  position: fixed;
  top: 134px;
  left: 64px;
  width: 250px;
  bottom: 12px;
  z-index: 0;

  @include t {
    width: 174px;
    padding-block: 10px;
    padding-inline: 10px;
  }

  @include m {
    display: none;
  }
}

.title {
  margin-bottom: 14px;
  font-weight: 500;
  color: #131D2A;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  color: #131D2A;
  display: flex;
  gap: 12px;
  align-items: center;
  padding-block: 10px;
}

.badge {
  background: #E32636;
  color: #fff;
  font-weight: 700;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 46%;
  height: 16px;
  flex-shrink: 0;
  padding-inline: 7px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menuLink {
  cursor: pointer;
  gap: 10px;
  color: #658092;
  font-size: 14px;
  font-weight: 500;
  padding-left: 8px;
}

.activeItem {
  color: #131D2A;
}

.count {
  margin-left: 10px;
}

