
.slideImage {
  max-width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.mainSlider {
  cursor: pointer;
  max-width: 71.5vh;  
  max-height: 71.5vh;  
  margin-bottom: 30px;
  background: white;
}

.thumbnailSlide {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 1px solid #F0F1F1;
}

.thumbSlider {
  height: 80px;
  width: 520px;  
}

.thumbnailSlideActive {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 3px solid #ff0000; 
}

.swiperWrapper {
  justify-content: center;
}

.sliderBtnNext {
  z-index: 2;
  width: 44px;
  height: 44px;
  position: absolute;  
  top: calc(50% - 55px);  // 55px  = нижний слайдер с марджином (80px + 30px = 110px)/2
  transform: translateY(-50%); 

  img {
    max-width: 100%;
  }
}

.sliderBtnPrev {
  z-index: 2;
  width: 44px;
  height: 44px;
  position: absolute;
  top: calc(50% - 55px);  // 55px  = нижний слайдер с марджином (80px + 30px = 110px)/2
  transform: translateY(-50%) rotate(180deg);  

  img {
    max-width: 100%;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 29px;
  width: 30px;
  height: 30px;

  &:hover {
    transform: scale(1.05);
    transition: all .3s ease-out;
  }
}
