@import "@/assets/styles/mixins";

.middleHeader {
  width: max-content;
  padding-right: 6px;
  background: #F0F1F5;
  color: #3E5067;
  height: 43px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
}

.barcodeHeaderCell {
  width: 120px;
  padding-top: 8px;
  padding-left: 10px;
  user-select: none;
  flex-shrink: 0;

  text-align: right;
  padding-right: 10px;
}

.nameHeaderCell {
  //border: 1px solid red;
  width: 210px;
  padding-top: 8px;
  padding-left: 10px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
  
   
  @include t {
    width: 146px;
  }
}

.sortIcon {
  fill: #3E5067;
}

.sortIconActive {
  fill: #E32636;
}

.sortIconAsc {
  transform: rotate(180deg);
}

.brandHeaderCell {
  width: 120px;
  padding-top: 8px;
  padding-left: 10px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
  //text-align: right;
  justify-content: right;
  padding-right: 10px;
}


.priceHeaderCell {
  width: 110px;
  padding-top: 8px;
  padding-left: 10px;
  user-select: none;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}

.ratingHeaderCell {
  width: 110px;
  padding-top: 8px;
  padding-left: 10px;
  user-select: none;
  flex-shrink: 0;
  text-align: right;
  padding-right: 10px;
}

.reviewsHeaderCell {
  width: 60px;
  padding-top: 8px;
  padding-left: 10px;
  user-select: none;
  flex-shrink: 0;
  text-align: right;
}


.inStockHeaderCell {
  width: 110px;
  padding-top: 8px;
  padding-left: 10px;
  user-select: none;
  flex-shrink: 0;
  text-align: right;  
  padding-right: 10px;
}


.creationDateHeaderCell {
  width: 130px;
  padding-top: 8px;
  padding-left: 10px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
  justify-content: right;
  padding-right: 10px;
}

.updateDateHeaderCell {
  min-width: 130px;
  padding-top: 8px;
  padding-left: 10px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
  justify-content: right;
  padding-right: 10px;
}